// Global
@import '../../config';
.popover {
  border: 1px solid $gray-light-10;
  border-radius: $border-radius-small;
  box-shadow: 0 $small $base mix($black, transparent, 20%);
  font-family: $base-font;
  padding:0;
  $dirs: 'bottom' 'left' 'top' 'right';
  @each $dir in $dirs {
    &.#{$dir} > .arrow {
      border-#{$dir}-color: $gray-light-10;
    }
  }
  &-content {
    padding:12px;
  }
}

.popover-mais-detalhes {
  cursor: auto;
  max-height: 400px;
  max-width: 700px;
  overflow: auto;
  width: 700px;
  &.popover {
    &.bottom {
      margin-top: 0;
    }
  }
  h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
  }
  &.bottom,
  &.top {
    >.arrow {
      border-bottom-color: $gray-light-20;
      display: none;
    }
  }
  .bth-list {
    .bth-list-header {
      background-color: $white;
      .bth-list-row {
        .column {
          cursor: default;
        }
      }
    }
    .bth-list-body {
      .bth-list-row {
        border-bottom: 1px solid $gray-light-30;
        border-radius: 0;
        margin-bottom: 0;
        &:last-child {
          border-bottom: none;
        }
        .column {
          font-size: 14px;
          .btn-group {
            i {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .popover-content {
    padding: 30px 10px;
    position: relative;
    .bth-info-head {
      background-color: $white;
      margin-top: -31px;
      padding: 11px 0 5px;
      position: fixed;
      z-index: 999;
    }
    .bth-info-footer {
      background-color: $white;
      margin-top: 339px;
      padding: 5px 0;
      position: fixed;
      text-align: right;
      z-index: 999;
    }
    .bth-info-body {
      .bth-list {
        .bth-list-header {
          position: fixed;
          z-index: 999;
        }
        .bth-list-body {
          margin-top: 31px;
        }
      }
    }
  }
}

.popover-filtro-column {
  border: none;
  border-radius: 0;
  box-shadow: 0 3px 6px 0 mix($black, transparent, 16%), 0 0 0 1px mix($black, transparent, 8%);
  cursor: auto;
  max-width: 515px;
  overflow: auto;
  padding: 0;
  width: 515px;
  &:before {
    background: mix($black, transparent, 30%);
    content: '';
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  &:after {
    background-color: $white;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  &.popover {
    &.bottom {
      margin-left: -10px;
      margin-top: -70px;
    }
  }
  h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
  }
  &.bottom,
  &.top {
    >.arrow {
      border-bottom-color: $gray-light-20;
      display: none;
    }
  }
  .dropdown-header {
    font-size: 14px;
  }
  .popover-content {
    padding: 10px;
    .bth-info-head {
      padding: 0;
      h1 {
        background-color: $white;
        cursor: pointer;
        display: inline-block;
        font-family: $base-font;
        font-size: 12px;
        font-weight: 600;
        margin: 0 0 10px;
        padding: 4px 0 0;
        position: relative;
        text-transform: uppercase;
      }
    }
    .bth-info-body {
      h2 {
        font-size: 13px;
        font-weight: 400;
        margin: 4px 0 10px;
        a {
          float: right;
          font-size: 12px;
          font-weight: normal;
        }
      }
      span.search-query {
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .tags {
        border-bottom: 1px solid $gray-light-30;
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        padding: 0 0 15px;
        li {
          background: mix($black, transparent, 5%);
          border-radius: $border-radius-small;
          color: mix($black, transparent, 68%);
          cursor: pointer;
          font-size: 13px; //margin: 2px;
          margin: 2px 4px 2px 0;
          padding: 5px 10px;
          &:hover {
            background: mix($black, transparent, 10%);
            color: mix($black, transparent, 68%);
          }
        }
      }
      .search-wrapper {
        display: inline-block;
        margin-bottom: 10px;
        width: 100%;
        &:after {
          color: $gray-light-20;
          content: 'search';
          font-family: $base-icon;
          font-size: 24px;
          left: 8px;
          pointer-events: none;
          position: absolute;
          top: 1px;
          z-index: 1;
        }
        input {
          font-family: $base-font;
          font-size: 14px;
          padding-left: 36px;
        }
        button {
          background-color: $white;
          border: none;
          cursor: pointer;
          height: calc(100% - 2px);
          outline: 0;
          position: absolute;
          right: 3px;
          top: 2px;
          width: 24px;
          z-index: 2;
          &:after {
            font-size: 25px;
            line-height: 30px;
            top: 0;
          }
        }
      }
      .options-wrapper {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        list-style: none;
        margin-bottom: 0;
        >div {
          flex: 1 0 auto;
        }
        .bth-radio,
        .bth-checkbox {
          line-height: 20px;
          margin: 6px 0;
          padding: 1px 5px;
          &:hover {
            background-color: $gray-light-30;
          }
          label {
            &:after {
              background-color: $link;
            }
          }
        }
        .left-column {
          //flex: 0 0 165px;
          max-width: 170px;
        }
        .right-column {
          max-width: 330px;
          min-width: 330px;
        }
      }
      .filtro-column-actions {
        text-align: right;
        .btn+.btn {
          margin-bottom: 0;
          margin-left: 5px;
        }
      }
    }
  }
}