// Variáveis

// As variáveis devem seguir o seguinte padrão `$componente-estado-propriedade-tamanho`.
// Ex.: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$radio-default: $gray;
$radio-success: $green;
$radio-primary: $blue;
$radio-danger:  $red;
$radio-warning: $yellow;

$font-name: 'FontAwesome', sans-serif;
$white-hover: $gray-light-30;