// Global
@import '../../variables';

// Local
@import 'variables';

.badge {
  background-color:  $gray-light-10;
  border-radius: 50px;
  color: $gray-dark-30;
  font-size: 12px;
  font-weight: font('primary', 'weight', 'light');
  padding: 3px 6px;
  text-align: center;

  &.badge-primary {
    background-color: $blue;
    color: $white;
  }

  &.badge-success {
    background-color: palette('green', 'dark-10');
    color: $white;
  }

  &.badge-danger {
    background-color: $red;
    color: $white;
  }

  &.badge-warning {
    background-color: $yellow;
    color: $gray-dark-30;
  }

  &.badge-info {
    background-color: palette('aqua', 'light-10');
    color: $gray-dark-30;
  }
}