// Global
@import '../../config';
// OLD

$brand-areas: 
  'brown' 'MUN' 'mun',      // Gestão municipal
  'lilac' 'PLA' 'pla',      // Contábil
  'lime' 'ARR' 'arr',       // Arrecadação
  'gray' 'ATE' 'ate',       // Atendimento
  'red' 'COM' 'com',        // Contratos
  'cian' 'PES' 'pes',       // Pessoal
  'blue' 'GEN' 'gen',       // NoPaper
  'green' 'SAU' 'sau',      // Saúde
  'yellow' 'EDU' 'edu';     // Educação

.bth-product-details {
  visibility: hidden;
  position: absolute;
  background-color: $white;
  min-width: 462px;
  max-width: 462px;
  box-shadow: 0px 3px 6px mix($black, transparent, 20%);
  padding: 12px;
  z-index: 1070;
  top: 40px;
  text-transform: none;
  color: $gray-dark-30;
  font-family: Open Sans, Arial, sans-serif;    
  left: 0;   
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px;              
  &--show {
    visibility: visible;   
  }
  &-solutions{
    &__header{
      
      h4{
        float: left;  
        margin-top: 13px;
      }
      a{
        vertical-align: middle;
        font-size: 14px;
        margin-top: 14px;
        float: right;               
      }
    }
    
    &__body{

      &--scroll{
        max-height: 260px;
        overflow-y: auto;
      }

      .bth-product-details-solutions__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding:0;
        list-style: none;                
        >li{
          margin:4px; 
          width: 31%;
          height: 31%;
          >a.bth-card:before{
            display: none;
          }
          >.bth-card{
            height: 100px;
            padding: 0 !important;
            border-radius: $border-radius-base;
            background-color: $gray-light-20;
            cursor: pointer;

            &.bth-card--bordered{
              border-color: $gray-light-20;
              
              &:hover{
                border-color: $link-color;
              }
            }
            
            .bth-card__body{
              margin: 0;
              padding: 8px 12px;
            }


            .bth-product__brand{   
              display: block;
              width: 26px;
              height: 26px;
              margin: 8px 0;
              font-family: 'bth-icons' !important;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-style: normal;
              font-variant: normal;
              font-weight: normal;
              line-height: 1;
              text-align: center;
              text-transform: none;
              color: $main-brand-color;
              border: 1px solid $main-brand-color;
              border-radius: 6px;
              @each $color, $areaUpper, $areaLower in $brand-areas {
                &--#{$areaUpper},
                &--#{$areaLower},
                &--#{$color} {
                  color: map-get($brand-colors, $color);
                  border-color: map-get($brand-colors, $color);
                }
              }
              &:before {
                content: '\e901';
                font-size: 16px;
                line-height: 24px;
              }
            }  

            .bth-product__name{
              font-size: 13px;
              line-height: 16px;
              vertical-align: top;
              text-align: left;
              color: $gray-dark-30;
            }  

            >div:last-child {
              padding-bottom: 0px; 
            }  
          }
        } 
      }
    }
  }
}

@media (max-width: 991px){
  .bth-product-details {
    position: fixed;
    background-color: $white;    
    -webkit-box-shadow: inset;
    box-shadow: inset;
    top: 0;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    &--show {
      display: block;
    }
  }
}

@media (min-width: 721px) and (max-width: 991px) {
  .bth-product-details {
    &-solutions{      
      &__body{
        .bth-product-details-solutions__list{                     
          >li{
            width: 32%;
          } 
        }
      }
    }
  }
}

@media (min-width: 430px) and (max-width: 720px) {
  .bth-product-details {
    &-solutions{      
      &__body{  
        .bth-product-details-solutions__list{            
          >li{
            width: 48%;
          } 
        }
      }
    }
  }
}

@media (max-width: 429px) {
  .bth-product-details {
    &-solutions{      
      &__body{  
        .bth-product-details-solutions__list{            
          >li{
            width: 45%;
          } 
        }
      }
    }
  }
}