// Global
@import '../../config';

/* Header */

.bth-attach-add,
.bth-attach-description {
  vertical-align: middle;
}

@media(max-width: 1023px) {
  .bth-attach-description__info {
    display: block;
  }

  .bth-attach-description {
    padding-top: 10px;
  }
}

@media(min-width: 1024px) {
  .bth-attach-description {
    display: inline-block;
  }
}

.bth-attach-description {
  font-size: 12px;
}

/* Body */

.bth-attach__body {
  border: 3px dashed $gray;
  border-radius: $border-radius-small;
  max-height: 380px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px;

  &--drag-enter {
    background-color: $gray-light-30;
    border-color: $blue;
  }
}

/* Body > Empty */

.bth-attach-items:empty {
  display: none;
}

/* Body > Items */

.bth-attach-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Body > Items > Item */

@media(max-width: 1023px) {
  .bth-attach-items--grid .bth-attach-item {
    width: 47%;
  }

  .bth-attach-items--list .bth-attach-item {
    width: 100%;
  }
}

@media(min-width: 1024px) {
  .bth-attach-items--grid .bth-attach-item {
    width: 19.2%;
  }

  .bth-attach-items--list .bth-attach-item {
    width: 49.4%;
  }
}

.bth-attach-items--list .bth-attach-item {
  flex-direction: row;
  height: 40px;
  justify-content: space-between;

  &:hover {
    background-color: $gray-light-30;
  }
}

.bth-attach-items--grid .bth-attach-item {
  flex-direction: column;
  height: 155px;
  justify-content: flex-end;
}

.bth-attach-item {
  background-color: $white;
  border: 1px solid $gray;
  border-radius: $border-radius-small;
  display: flex;
  margin-bottom: 8px;
  margin-right: 8px;
  overflow: hidden;
  padding: 8px;
  position: relative;
}

@media(max-width: 1023px) {
  .bth-attach-item {
    margin-right: 0;
  }

  .bth-attach-items--grid .bth-attach-item {
    margin-right: 8px;
  }
}

@media(min-width: 1024px) {

  .bth-attach-items--grid .bth-attach-item:nth-child(5n),
  .bth-attach-items--list .bth-attach-item:nth-child(2n) {
    margin-right: 0;
  }

  .bth-attach-items--grid .bth-attach-item:nth-last-child(2),
  .bth-attach-items--list .bth-attach-item:nth-last-child(2) {
    margin-bottom: 0;
  }
}

.bth-attach-items--grid .bth-attach-item:last-child,
.bth-attach-items--list .bth-attach-item:last-child {
  margin-bottom: 0;
}

/* Body > Items > Item [Loading] */

.bth-attach-item--loading>.bth-attach-item__thumb,
.bth-attach-item--loading>.bth-attach-item__footer {
  opacity: .7
}

/* Body > Items > Item [Spinner] */

.bth-attach-item__spinner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bth-attach-items--grid .bth-attach-item__spinner {
  padding-bottom: 22px;
}

.bth-attach-items--list .bth-attach-item__spinner-icon .icon-spinner {
  height: 20px;
  margin: 5px;
  width: 20px;
}

.bth-attach-items--grid .bth-attach-item__spinner-icon .icon-spinner {
  height: 25px;
  margin: 9px;
  width: 25px;
}

.bth-attach-item__spinner-icon .icon-spinner {
  border-width: 3px;
}

.bth-attach-items--list .bth-attach-item__spinner-icon {
  height: 30px;
  width: 30px;
}

.bth-attach-items--grid .bth-attach-item__spinner-icon {
  height: 43px;
  width: 43px;
}

/* Body > Items > Item > Thumb */

.bth-attach-items--grid .bth-attach-item__thumb {
  background-color: $gray-light-30;
  flex: 1;
  font-size: 22px;
  overflow: hidden;
  position: relative;
}

.bth-attach-items--list .bth-attach-item__thumb {
  font-size: 14px;
  margin-right: 5px;
  text-align: left;
}

.bth-attach-item__thumb {
  align-items: center;
  border-radius: $border-radius-small;
  display: flex;
  height: 100%;
  justify-content: center;
}

.bth-attach-items--list .bth-attach-thumb-overlay {
  display: none;
}

.bth-attach-thumb-overlay {
  align-items: center;
  background-color: mix($black, transparent, 50%);
  color: $white;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transform: scale(.99);
  transition: opacity 300ms ease-in-out;
  width: 100%;
}

.bth-attach-item__thumb:hover .bth-attach-thumb-overlay,
.bth-attach-thumb-overlay__action:focus~.bth-attach-thumb-overlay {
  opacity: 1;
  transform: scale(1);
}

.bth-attach-thumb-overlay__action:hover {
  color: $gray-dark-30;
}

.bth-attach-thumb-overlay__action:visited {
  color: $gray-dark-30;
}

/* Body > Items > Item > Thumb [Icon] */

.bth-attach-items--list .bth-attach-item__thumb-icon {
  padding: 4px 5px;
}

.bth-attach-item__thumb-icon {
  border-radius: 100%;
  text-align: center;
}

.bth-attach-thumb-overlay__action {
  background-color: $white;
  border-radius: 100%;
  color: $gray-dark-30;
  padding: 6px 9px;
}

/* Body > Items > Item > Thumb [Image] */

.bth-attach-items--grid .bth-attach-item__thumb-image i {
  display: none;
}

.bth-attach-items--list .bth-attach-item__thumb-image {
  background: transparent !important;
  border-radius: 100%;
  color: $purple;
  height: initial;
  padding: 4px 5px;
  text-align: center;
  width: initial;
}

.bth-attach-item__thumb-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* Body > Items > Item > Thumb [Error] */

.bth-attach-item__thumb-icon--error {
  color: palette('red', 'dark-10');
}

.bth-attach-items--list .bth-attach-item__thumb-icon--error::after {
  background-color: $white;
  bottom: 0;
  left: auto;
  line-height: 24px;
  padding: 7px;
  right: 31px;
  text-align: right;
}

.bth-attach-items--list .bth-attach-item:hover .bth-attach-item__thumb-icon--error::after {
  background-color: $gray-light-30;
}

.bth-attach-items--grid .bth-attach-item__thumb-icon--error::after {
  width: 100%;
}

.bth-attach-item__thumb-icon--error::after {
  color: palette('red', 'dark-10');
  content: attr(data-message-error);
  font-size: 12px;
  left: 0;
  position: absolute;
}

/* Body > Items > Item > Footer */

.bth-attach-item__footer:empty {
  display: none;
}

.bth-attach-items--list .bth-attach-item__footer {
  flex: auto;
  min-width: 0;
}

.bth-attach-items--grid .bth-attach-item__footer {
  padding-top: 4px;
  width: 100%;
}

.bth-attach-item__footer {
  align-items: center;
  display: flex
}

.bth-attach-item__description {
  line-height: 19px;
  max-width: 512px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.bth-attach-item__description::after {
  content: '.';
}

.bth-attach-item__extension {
  flex: auto;
  min-width: 25px;
  vertical-align: middle;
}

.bth-attach-items--grid .bth-attach-item--error .bth-attach-item__name {
  max-width: 80%;
}

.bth-attach-item__name {
  align-items: center;
  display: flex;
  flex: auto;
  font-size: 12px;
  justify-content: flex-start;
  line-height: 12px;
  min-width: 0;
}

.bth-attach-item__actions {
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
  width: 65px;
}

.bth-attach-item__actions .bth-attach-item__actions-item {
  color: $gray;
  padding: 0 2px;
}

.bth-attach-item__actions .bth-attach-item__actions-item:hover {
  color: $black;
}

.bth-attach-item__custom-field {
  line-height: 17px;
}

/* Body > Items > Item > Footer > Popover */

.bth-attach-popover {
  max-width: 490px !important;
  width: 490px !important;
}

.bth-attach-popover--left {
  margin-left: -215px;

  >.arrow {
    left: 94% !important;
  }
}

.bth-attach-popover--right {
  margin-left: 215px;

  >.arrow {
    left: 6% !important;
  }
}

.bth-attach-popover__title {
  color: $gray;
  margin: 0;
}

.bth-attach-popover__info {
  color: $gray;
  font-size: 85%;
  text-align: right;
}

.bth-attach-popover__header {
  padding-top: 5px;
}

.bth-attach-popover__footer {
  text-align: right
}

.bth-attach-popover .select2-container.input-sm {
  padding: 0;
}

/* Body > Items > Item > View [Trigger] */

.bth-attach-items--grid .bth-attach-item__view {
  display: none;
}

.bth-attach-item__view {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  text-align: right;
  top: 0;
  width: calc(100% - 65px);
}

.bth-attach-item__view-trigger {
  background-color: $white;
  font-size: 12px;
  line-height: 24px;
  opacity: 0;
  padding: 7px;
  transition: opacity 200ms ease-in-out;
}

.bth-attach-item:hover .bth-attach-item__view-trigger,
.bth-attach-item__view-trigger:focus {
  background-color: $gray-light-30;
  opacity: 1;
  transform: scale(1);
}

/* Modal */

.bth-attach__image-full {
  max-width: 100%
}

/* Input attach */

.input-group-attach {
  display: flex;
}

.input-group-attach>div.form-control {
  display: flex;
  min-width: 0;
  padding: 4px 8px;
}

.input-group-attach>div.form-control .label {
  align-items: center;
  background-color: $gray-light-20;
  border-radius: $border-radius-small !important;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  max-width: 100%;
  padding: 2px 8px 2px 4px;
}

.input-group-attach .btn-remove:before {
  content: "\D7";
  font-size: 19px;
  padding: 0;
}

.input-group-attach .label a {
  align-items: center;
  display: flex;
  font-size: 13px;
  line-height: 13px;
  min-width: 0;
}

.input-group-attach .name {
  line-height: 19px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  &:after {
    content: '.';
  }
}

.input-group-attach .extension {
  line-height: 19px;
  min-width: 25px;
  text-align: left;
  vertical-align: middle;
}

.input-group-attach .btn-remove {
  line-height: 1;
}

.input-group-attach>.input-group-btn {
  min-width: 43px;
}

.input-group-attach.input-group-sm>.input-group-btn,
.input-group-attach>.input-sm+.input-group-btn {
  min-width: 39px;
}

.has-edit .input-group-attach .input-group-btn {
  min-width: 26px
}

.has-edit .input-group-attach>.form-control {
  padding: 2px !important;
}

.bth-attach-items--condensed .bth-attach-item {
  height: 105px;
}

.input-group-attach {
  .input-group-btn:last-child>.btn,
  .input-group-btn:last-child>.btn-group {
    height: 100%;
    line-height: initial;
    overflow: hidden;
  }

  &--error{
    .input-group-attach-icon--error{
      color: palette('red', 'dark-10');

      &::after{
        color: palette('red', 'dark-10');
        content: attr(data-message-error);
        font-size: 12px;
        left: 0;
        bottom: 0;
        padding: 7px;
        right: 31px;
        text-align: right;
        min-width: max-content;
      }      
    }

    a{
      cursor: default!important;
      opacity: .5;
      pointer-events: none;
    }
  }
}