@import '../../config';

$root: '.bth-help';
$rootModal: $root+'--modal';
$rootRight: $root+'--right';
$rootAnimated: $root+'--animated';

#{$root} {
  padding: 12px;
  position: absolute;
  width: 325px;
  z-index: -1;

  &:after {
    background-image: url(../../assets/images/B-30-Metade.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 107px;
    left: 0;
    position: absolute;
    top: 20px;
    transform: translateX(calc(-100% - 10px));
    width: 60px;
  }

  &:before {
    border-bottom: 10px solid transparent;
    border-right: 10px solid $blue;
    border-top: 10px solid transparent;
    content: '';
    display: block;
    left: -10px;
    position: absolute;
    top: 30px;
  }

  &__header {
    padding-bottom: 6px;
    img {
      border-radius: $border-radius-small;
    }
  }
}

#{$rootRight} {
  background-color: $blue;
  border-radius: $border-radius-small;
  color: $white;
  right: 0;
  top: 0;
  transform: translateX(calc(100% + 70px));
}

#{$rootAnimated} {
  animation: showHelpDialog .2s ease-in-out;
  animation-delay: 1.1s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateX(100%);
  &:after {
    animation: showHelpDialogB30 .2s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes showHelpDialogB30 {
  from {
    transform: translateX(calc(-100% - 20px));
  }
  to {
    opacity: 1;
    transform: translateX(calc(-100% - 10px));
  }
}

@keyframes showHelpDialog {
  from {
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(calc(100% + 70px));
  }
}