// Global
@import '../../variables';

// Local
@import 'variables';

.bth-toast {
  background-color: $toast-content;
  border-radius: $border-radius-small;
  padding: 10px;

  a {
    font-weight: 600;
    margin-left: 4px;
  }

  .bth-toast-head {
    display: flex;
    position: relative;

    a.bth-toast-close {
      color: $toast-close;
      font-size: 24px;
      font-weight: 100;
      line-height: 18px;
      position: absolute;
      right: 0;
      text-decoration: none;
      top: 0;

      &:hover {
        color: $toast-close-hover;
      }
    }
  }

  &.bth-toast-sm {
    flex-direction: column;

    //.bth-toast-head {
    //    a.bth-toast-close {
    //        position: absolute;
    //        right: 0;
    //        top: 0;
    //        font-size: 24px;
    //        line-height: 18px;
    //        color: $toast-close;
    //        text-decoration: none;
    //        font-weight: 100;
    //
    //        &:hover {
    //            color: $toast-closeHover;
    //        }
    //    }
    //}

    .bth-toast-body {
      color: $toast-body;
      margin-left: 25px;
    }

    .bth-toast-bottom {
      margin-top: 20px;
      text-align: right;

      button {
        color: $white;
      }
    }
  }

  &.bth-toast-primary{
    border-left-width: 3px;
    color: $toast-primary;

    .bth-toast-head {
      &:before {
        content: 'mode_comment';
        display: inline-block;
        font-family: $base-icon;
        font-feature-settings: 'liga' 1;
        font-size: 20px;
        font-style: normal;
        height: 20px;
        line-height: 1;
        margin-right: 5px;
        overflow: hidden;
        text-rendering: optimizeLegibility;
        text-transform: none;
        width: 20px;
      }
    }

    a {
      color: $toast-link-primary;
    }
  }

  &.bth-toast-warning{
    border-left-width: 3px;
    color: $toast-warning;

    .bth-toast-head {
      &:before {
        content: 'warning';
        display: inline-block;
        font-family: $base-icon;
        font-feature-settings: 'liga' 1;
        font-size: 20px;
        font-style: normal;
        height: 20px;
        line-height: 1;
        margin-right: 5px;
        overflow: hidden;
        text-rendering: optimizeLegibility;
        text-transform: none;
        width: 20px;
      }
    }

    a {
      color: $toast-link-warning;
    }
  }

  &.bth-toast-danger{
    border-left-width: 3px;
    color: $toast-danger;

    .bth-toast-head {
      &:before {
        content: 'error';
        display: inline-block;
        font-family: $base-icon;
        font-feature-settings: 'liga' 1;
        font-size: 20px;
        font-style: normal;
        height: 20px;
        line-height: 1;
        margin-right: 5px;
        overflow: hidden;
        text-rendering: optimizeLegibility;
        text-transform: none;
        width: 20px;
      }
    }

    a {
      color: $toast-link-danger;
    }
  }

  &.bth-toast-success{
    border-left-width: 3px;
    color: $toast-success;

    .bth-toast-head {
      &:before {
        content: 'thumb_up';
        display: inline-block;
        font-family: $base-icon;
        font-feature-settings: 'liga' 1;
        font-size: 20px;
        font-style: normal;
        height: 20px;
        line-height: 1;
        margin-right: 5px;
        overflow: hidden;
        text-rendering: optimizeLegibility;
        text-transform: none;
        width: 20px;
      }
    }

    a {
      color: $toast-link-success;
    }
  }
}