// Global
@import '../../config';

// Local
@import 'variables';

/* [DEPRECATED] */

.bth-passoapasso {
	overflow: hidden;

	ul,
	ol {
		border: 0;
		counter-reset: step-counter;
		display: flex;
		list-style-type: none;
		margin: 0 0 0 -25px;
		padding: 0;
		position: relative;
		width: 106%;

		li {
			background-color: $gray-light-30;
			border-left: 5px solid $white;
			counter-increment: step-counter;
			flex: 1 1 auto;
			flex-basis: 0;
			-webkit-transform: skew(-30deg);
			/* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
			-ms-transform: skew(-30deg);
			/* IE 9 */
			transform: skew(-30deg);

			/* IE 10, Fx 16+, Op 12.1+ */
			&:first-child {
				padding-left: 15px;
			}

			&:last-child {
				padding-right: 21px;
			}

			a {
				color: $black;
				display: block;
				font-size: 14px;
				height: 100%;
				/* IE 10, Fx 16+, Op 12.1+ */
				//2 linhas max.
				max-height: 80px;
				overflow: hidden;
				padding: 10px 10px 10px 45px;
				position: relative;
				text-decoration: none;
				-webkit-transform: skew(30deg);
				/* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
				-ms-transform: skew(30deg);
				/* IE 9 */
				transform: skew(30deg);

				&:before {
					background-color: palette('green', 'light-20');
					border-radius: 50%;
					color: $white;
					content: counter(step-counter);
					font-size: 12px;
					font-weight: bold;
					height: 21px;
					left: 17px;
					line-height: 22px;
					margin-top: -1px;
					padding: 0;
					position: absolute; 
					text-align: center;
					width: 21px;
				}
			}

			&.completed {
				background-color: palette('green', 'light-40');

				a {
					&:before {
						content: '\f00c';
						font-family: FontAwesome;
					}
				}
			}

			&:hover {
				background-color: $green;
			}

			&.active {
				background-color: palette('green', 'dark-10');
			}

			&:hover,
			&.active {
				a {
					color: $white;

					&:before {
						background-color: palette('green', 'dark-20');
					}
				}
			}

			&.disabled {
				pointer-events: none;
			}
		}
	}

	ol {
		counter-reset: step-counter;

		li {
			counter-increment: step-counter;

			a {
				&:before {
					content: counter(step-counter);
				}
			}
		}
	}

	ul {
		li:not(.completed) {
			a {
				padding-left: 25px;

				&:before {
					display: none;
				}
			}
		}
	}
}

/* [NOVA VERSÃO] */

$root: '.bth-wizard';
$rootVertical: $root+'--vertical';
$rootIcon: $root+'--has-icon';

#{$root} {
	align-items: flex-start;
	counter-reset: bth-wizard-steps;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-left: 0;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 5px;
	padding-left: 0;
	padding-top: 25px;
	position: relative;
	width: 100%;
	z-index: 0;

	&__title {
		font-size: 14px;

		&--action {
			margin: -35px 0 0;
			padding: 35px 0 0;
			position: relative;
			z-index: 10;

			@at-root {
				$root: $root + '__title--action';

				button#{$root} {
					background-color: transparent;
					border: 0;
					color: inherit;
					font-weight: inherit;

					&:hover,
					&:focus {
						color: $blue;
						outline: none;
					}
				}
			}
		}

		&[disabled] {
			&:hover {
				color: $gray;
				cursor: no-drop;
			}
		}
	}

	&__item {
		align-items: center;
		color: $gray-dark-10;
		counter-increment: bth-wizard-steps;
		font-weight: font('primary', 'weight');
		min-width: 100px;
		padding-top: 35px;
		position: relative;
		text-align: center;
		width: 100%;

		&:first-child:after {
			display: none;
		}

		&:after {
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-color: $gray;
			content: '';
			position: absolute;
			right: 100%;
			top: 15px;
			transform: translate(50%);
			width: 100%;
			z-index: -1;
		}

		&:before {
			align-items: center;
			background-color: $white;
			border: 1px solid $gray;
			border-radius: 50%;
			content: counter(bth-wizard-steps);
			display: flex;
			font-size: 14px;
			font-weight: font('primary', 'weight');
			height: 30px;
			justify-content: center;
			left: calc(50% - 15px);
			position: absolute;
			top: 0;
			transition: background-color .4s ease-in-out, border-color .4s ease-in-out;
			width: 30px;
		}

		&--active {
			color: $blue;
			font-weight: font('primary', 'weight', 'semi-bold');

			&:before {
				background-color: $blue;
				border-color: $blue;
				color: $white;
				font-weight: font('primary', 'weight', 'semi-bold');
			}

			&:after {
				border-color: $blue;
			}

			#{$root}__icon {
				color: $white;
			}
		}

		&--checked {
			color: $blue;

			&:before {
				border-color: $blue;
				color: $blue;
				content: 'check';
				font-family: $base-icon;
				font-size: 18px;
				text-transform: none;
			}

			&:after {
				border-color: $blue;
			}
		}

		&--visited {
			color: $blue;

			&:before {
				border-color: $blue;
				color: $blue;
			}

			&:after {
				border-color: $blue;
			}

			#{$root}__icon {
				color: $blue;
			}
		}

		@at-root {
			#{& + '--visited' + & + '--active'} {
				&:before {
					color: $white;
				}

				#{$root}__icon {
					color: $white;
				}
			}
		}

		&--danger {
			color: $red;

			&:before {
				border-color: $red;
				color: $red;
				content: 'priority_high';
				font-family: $base-icon;
				font-size: 13px;
				text-transform: none;
			}

			&:after {
				border-color: $red;
			}

			$condition: &;

			#{$root}__title {
				color: $red;

				&--action {
					@at-root {
						$root: $root + '__title--action';

						#{$condition} button#{$root} {

							&:hover,
							&:focus {
								color: $red;
							}
						}
					}
				}
			}
		}

		@at-root {
			$condition: & + '--danger' + & + '--active';

			#{$condition} {
				&:before {
					background-color: $red;
					color: $white;
					font-weight: font('primary', 'weight');
				}

				#{$root}__title {
					color: $red;

					&--action {
						@at-root {
							$root: $root + '__title--action';

							#{$condition} button#{$root} {

								&:hover,
								&:focus {
									color: $red;
								}
							}
						}
					}
				}
			}
		}

		&--warning {
			color: palette('yellow', 'dark-30');

			&:before {
				border-color: palette('yellow', 'dark-10');
				color: palette('yellow', 'dark-10');
				content: 'warning';
				font-family: $base-icon;
				font-size: 13px;
				text-transform: none;
			}

			&:after {
				border-color: palette('yellow', 'dark-10');
			}

			$condition: &;

			#{$root}__title {
				color: palette('yellow', 'dark-30');

				&--action {
					@at-root {
						$root: $root + '__title--action';

						#{$condition} button#{$root} {

							&:hover,
							&:focus {
								color: palette('yellow', 'dark-30');
							}
						}
					}
				}
			}
		}

		@at-root {
			$condition: & + '--warning' + & + '--active';

			#{$condition} {
				&:before {
					background-color: palette('yellow', 'dark-10');
					color: $white;
					font-weight: font('primary', 'weight');
				}

				#{$root}__title {
					color: palette('yellow', 'dark-30');

					&--action {
						@at-root {
							$root: $root + '__title--action';

							#{$condition} button#{$root} {

								&:hover,
								&:focus {
									color: palette('yellow', 'dark-30');
								}
							}
						}
					}
				}
			}
		}

		&--disabled {
			color: $gray;
			cursor: default;

			&:before {
				border-color: $gray-light-10;
				color: $gray;
				content: counter(bth-wizard-steps);
			}

			&:after {
				border-color: $gray-light-10;
			}
		}

		@at-root {
			$condition: & + '--checked' + & + '--disabled';

			#{$condition} {
				&:before {
					content: 'check';
				}
			}
		}
	}
}

// Vertical
#{$rootVertical} {
	flex-direction: column;
	padding-left: 55px;

	#{$root} {
		&__item {
			align-items: center;
			display: flex;
			min-height: 50px;
			padding-bottom: 20px;
			padding-left: 30px;
			padding-top: 0;
			text-align: left;

			&:before {
				left: 0;
			}

			&:after {
				border-bottom: 0;
				border-left-style: solid;
				border-left-width: 1px;
				height: 100%;
				left: 14px;
				top: -100%;
				width: 0;
			}
		}

		&__title {
			line-height: 1;
			margin-bottom: 0;
			margin-top: 0;
			text-align: left;
		}

		&__title--action {
			margin: 0 0 0 -30px;
			min-height: 30px;
			padding: 0 0 0 40px;
		}
	}
}

// Icon
#{$rootIcon} {
	#{$root} {
		&__item:not(.bth-wizard__item--danger):not(.bth-wizard__item--warning) {
			&:before {
				content: '';
			}
		}

		&__item {

			&--danger,
			&--warning {
				#{$root}__icon {
					display: none;
				}
			}
		}

		&__icon {
			align-items: center;
			display: flex;
			font-size: 14px;
			font-weight: 400;
			height: 30px;
			justify-content: center;
			left: calc(50% - 15px);
			position: absolute;
			top: 0;
			transition: background-color .4s ease-in-out, border-color .4s ease-in-out;
			width: 31px;
		}
	}
}

//Icon Vertical
#{$rootIcon + $rootVertical} {
	#{$root} {
		&__icon {
			left: 0;
		}
	}
}