@import 'mixins';

.ellipsis-flex {
  flex: 1;
  min-width: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label,
  span,
  div {
    @include ellipsis();
  }
}

span,
div,
label,
td {
  &.ellipsis {
    @include ellipsis();
  }

  &.preserve-white {
    white-space: pre-wrap;
  }

  &.preserve-white.ellipsis {
    white-space: pre;
  }
}