@import 'variables';
/*
** @desc Retorna o menor valor do breakpoint
** @param
**  $name: Nome do breakpoint
**  $breakpoints: Busca na variável breakpoints
*/
@function breakpoint-min($name, $breakpoints: $breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min !=0, $min, null);
}

/*
  ** @desc Retorna o maior valor do breakpoint
  ** @param
  **  $name: Nome do breakpoint
  **  $breakpoints: Busca na variável breakpoints
  */
@function breakpoint-max($name, $breakpoints: $breakpoints) {
    $max: null;
    $found: false;

    @each $key, $value in $breakpoints {
        @if $found {
            $max: $value - 1px;
            $found: false;
        }

        @if $key ==$name {
            $found: true;
        }
    }

    @return $max;
}