// Spacers
$spacer: 5px;
$spacers: (
  auto: auto,
  0: 0,
  5: $spacer * 1,
  10: $spacer * 2,
  15: $spacer * 3,
  20: $spacer * 4,
  25: $spacer * 5,
  30: $spacer * 6,
  35: $spacer * 7,
  40: $spacer * 8,
  45: $spacer * 9,
  50: $spacer * 10,
);

// Breakpoints
$breakpoints: (
  'xs': 0,
  'sm': 768px,
  'md': 992px,
  'lg': 1200px
);

//  Helpers
$helpers: (
  'border-top': (property: border-top,
    class: bt,
    values: 0),
  'border-bottom': (property: border-bottom,
    class: bb,
    values: 0),
  'border-left': (property: border-left,
    class: bl,
    values: 0),
  'border-right': (property: border-right,
    class: br,
    values: 0),
  'margin': (property: margin,
    class: m,
    values: $spacers ),
  'margin-x': (property: margin-right margin-left,
    class: mx,
    values: $spacers ),
  'margin-y': (property: margin-top margin-bottom,
    class: my,
    values: $spacers ),
  'margin-top': (property: margin-top,
    class: mt,
    values: $spacers ),
  'margin-bottom': (property: margin-bottom,
    class: mb,
    values: $spacers ),
  'margin-right': (property: margin-right,
    class: mr,
    values: $spacers ),
  'margin-left': (property: margin-left,
    class: ml,
    values: $spacers ),
  'padding': (property: padding,
    class: p,
    values: $spacers ),
  'padding-x': (property: padding-right padding-left,
    class: px,
    values: $spacers ),
  'padding-y': (property: padding-top padding-bottom,
    class: py,
    values: $spacers ),
  'padding-top': (property: padding-top,
    class: pt,
    values: $spacers ),
  'padding-bottom': (property: padding-bottom,
    class: pb,
    values: $spacers ),
  'padding-right': (property: padding-right,
    class: pr,
    values: $spacers ),
  'padding-left': (property: padding-left,
    class: pl,
    values: $spacers ),
  'font-weight': (property: font-weight,
    class: font-weight,
    values: map-get(map-get($font, 'primary'), 'weight')),
  'display': (property: display,
    class: d,
    values: inline-block block flex),
  'text-decoration': (property: text-decoration,
    customclass: 'text-strike',
    values: line-through),
  'cursor': (property: cursor,
    class: cursor,
    values: default pointer not-allowed grab move text),
  'flex-direction': (property: flex-direction,
    class: flex,
    values: row column row-reverse column-reverse)
);