// Global
@import '../../config';

/**
* Table spread-sheet
* --------------------------------------------------------------------------------------------------
*/

.spread-sheet {
  border-collapse: collapse;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; //fix missing border w/ position relative on chrome v50
  margin-bottom: 10px;
  /* Forcing Word Breaks */
  overflow-wrap: break-word;
  table-layout: fixed;
  width: 100%;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  &:before {
    content: '';
  }
  th {
    background-clip: padding-box;
    background-color: $gray-light-30;
    border: 1px solid $gray-light-20;
    color: $gray-dark-30;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 2px;
    position: relative;
    vertical-align: middle;
    label {
      color: $gray-dark-30;
      font-size: 13px;
      font-weight: bold;
      margin: 0;
    }
    &>* {
      font-weight: normal;
    }
  } //thead th { text-transform: uppercase; }
  tfoot th {
    padding: 4px;
  }
  tr {
    .selector,
    .square {
      cursor: crosshair;
      display: block;
      margin-top: 21px;
      pointer-events: all;
      position: absolute;
      right: -4px;
      width: 7px;
    }
    .selector {
      height: 16px;
      z-index: 1099;
    }
    .square {
      background-color: palette('blue', 'light-10');
      border: 1px solid $white;
      height: 7px;
      z-index: 1050;
    }
  } // fim tr
  td {
    background-clip: padding-box !important;
    border: 1px solid $gray-light-20 !important;
    font-size: 13px;
    height: 24px;
    padding: 0 4px;
    position: relative;
    &.eraser {
      font-size: 10px !important;
      text-align: center;
    }
    /* &.td-pencil{
			padding-right: 7px;
		
			input{
				float: left;
				width: 80%;
			}
		
			a{ display: none; }
		
			&:hover{
				a{
					float: right;
					display: inline-block;
					padding: 3px 0px;
				}
			}
		} */
    .form-control {
      background-color: mix($black, transparent, 0);
      border: none;
      border-radius: 0;
      box-shadow: none;
      font-size: inherit;
      height: 24px;
      line-height: 100%;
      padding: 0;
    }
    .input-group-edit {
      margin-right: -4px;
      padding-right: 20px;
      position: relative;
      a {
        display: none;
        font-size: 13px;
        margin-top: -9px;
        position: absolute;
        right: 5px;
        top: 50%;
      }
      &:hover {
        a {
          display: block;
        }
      }
    }
    .input-group {
      margin-right: -4px;
    }
    .input-group-btn {
      .btn-default {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        padding: 1px 5px 2px;
      }
    }
    &.btn-simples {
      position: relative;
      input {
        float: left;
        width: 100%;
      }
      .btn-default {
        border: 0;
        border-radius: 0;
        padding: 2px 5px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .ui-spinner-button {
      border: none;
      border-radius: 0;
      box-shadow: none;
      height: 12px;
      .fa {
        color: $gray-light-20;
        left: 0;
        position: absolute;
      }
      &.ui-spinner-up .fa {
        top: 3px;
      }
      &.ui-spinner-down .fa {
        bottom: 3px;
      }
    }
    &.active {
      background-color: $gray-light-30;
    }
    &.success {
      background-color: palette('green', 'light-40');
    }
    &.danger {
      background-color: palette('red', 'light-40');
    }
    .select2-container {
      .select2-choices,
      .select2-choice {
        background-color: transparent;
        border: none;
        box-shadow: none;
        height: 22px !important;
        line-height: 20px;
        min-height: 22px !important;
        padding-left: 0;
        .select2-arrow {
          line-height: 24px;
          text-align: center;
        }
        abbr {
          right: 20px;
          top: 3px;
        }
      }
    } //focus
    .select2-container-active {
      .select2-choices,
      .select2-choice {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
      }
    }
    .select2-container-multi {
      .select2-choices {
        .select2-search-field {
          height: 22px;
          line-height: 20px;
          input {
            color: $black;
            font-size: 13px;
            margin-top: 0;
            padding: 0 2px;
          }
        }
        .select2-search-choice {
          font-size: 12px;
          line-height: 10px;
          margin: 2px;
          min-height: 18px;
        }
      }
      .select2-search-choice-close {
        top: 0;
      }
    }
    .field-error {
      border-radius: 1px;
      box-shadow: inset 0 1px 1px palette('red', 'light-40'), 0 0 2px $red !important;
    }
  } // fim td
  input[type='text'] {
    background-color: mix($black, transparent, 0);
    border: none;
    height: 23px;
    line-height: 100%;
    overflow-wrap: normal;
    padding: 0;
    width: 100%;
    -ms-word-break: normal;
    word-break: normal; //&:focus{ outline: none; }
    word-wrap: normal;
    &:disabled {
      background-color: $gray-light-30;
    }
  }
  textarea {
    border: none;
    display: block;
    width: 100%;
  }
  .alterada {
    color: palette('red', 'dark-10');
    cursor: pointer;
    &:before {
      color: palette('red', 'light-30');
      content: '\f046';
    }
  }
  .dashed,
  .highlight {
    height: 26px;
    position: absolute;
    right: 0;
    visibility: hidden;
  }
  .dashed {
    border: 1px dashed black;
    border-top: none;
    margin-top: -4px;
    z-index: 1099;
  }
  .highlight {
    border: 1px solid palette('blue', 'light-10');
    pointer-events: none;
    top: 0;
  }
  /* revisar funcionalidade classes abaixo */
  .badge {
    background: palette('blGray', 'light-30');
    border-radius: 0;
    font-size: 10px;
    font-weight: normal;
    line-height: 9px;
    padding: 2px;
    vertical-align: middle;
  }
  .box-marcacoes {
    display: inline-block;
    margin: 0 6px;
  }
  .center {
    text-align: center;
  }
  .data {
    padding: 0 6px !important;
    text-align: left !important;
    vertical-align: middle !important;
    small {
      display: block;
      font-family: 'Lucida Console', Monaco, monospace;
      text-transform: uppercase;
    }
  }
  .dia {
    padding: 0 3px !important;
  }
  .esperada {
    color: dark(palette('blGray', 'light-30'), 3%);
    &:before {
      color: palette('blGray', 'light-30');
      content: '\f017';
    }
  }
  .icone-sem-marcacao {
    color: $gray-dark-10;
    cursor: pointer;
  }
  .left {
    padding-left: 4px !important;
    text-align: left !important;
  }
  .marcacao {
    display: block;
    padding-right: 4px;
    width: 100%;
    &:before {
      display: inline-block;
      font-family: FontAwesome;
      width: 18px;
    }
  }
  .outra-marcacao {
    cursor: pointer;
    display: inline-block;
    line-height: 17px;
    padding: 0 2px;
    text-align: center;
    vertical-align: middle;
    width: 54px;
    &:hover {
      background-color: lighten($gray-light-20, 5%);
    }
  }
  .outras-marcacoes {
    cursor: default !important;
    text-align: left !important;
    &:hover {
      background-color: $white;
    }
  }
  .over {
    td {
      background-color: palette('yellow', 'light-40') !important;
    }
  }
  .realizada {
    cursor: pointer;
    &:before {
      color: dark($gray-light-10, 6%);
      content: '\f007';
    }
  }
} // fim .spread-sheet
.spread-sheet-header {
  background: $gray-light-30;
  border: 1px solid $gray-light-20;
  border-bottom: none;
  padding: 6px;
  span {
    font-weight: bold;
  }
  small {
    display: block;
  }
  .thumb {
    border: 1px solid $white;
    box-sizing: content-box;
  }
}

.select2-spreadsheet {
  margin-top: 4px;
  .select2-search {
    min-height: 22px;
    top: -26px !important;
    input {
      font-size: 13px;
      min-height: 24px;
      padding: 0 20px 0 2px !important;
    }
  }
  &:not(.select2-drop-multi) {
    .select2-results {
      margin-top: -20px !important;
    }
  }
}
