// Global
@import '../../config';

// Local
@import 'variables';

bth-toolbar { // stylelint-disable-line
  display: flex;
}

.bth-toolbar {
  background: $white;
  color: $gray;
  display: flex;
  font-family: $base-font;
  font-size: 13px;
  height: 34px;
  margin: 10px 0 15px;

  &.bth-toolbar-popover {
    margin: 5px 0 4px;
  }

  button {
    text-transform: uppercase;
  }

  .toolbar-search {
    display: flex;
    flex-grow: 1;
    padding-left: 5px;

    form {
      align-items: center;
      display: flex;
    }

    .alteracoes-salvas {
      align-items: center;
      display: flex;
      margin-left: 15px;

      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }

    .salvando-alteracaos {
      align-items: center;
      display: flex;
      margin-left: 15px;

      i {
        animation: loadingSave 1.5s ease-in-out infinite;
        font-size: 20px;
        margin-right: 5px;
      }

      @keyframes loadingSave {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .toolbar-buttons-paginate {
    display: flex;
    flex-grow: 0;
    margin: 0 3px;
    position: relative;
    text-transform: none;

    .bth-toolbar-buttons {
      align-self: center;
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      margin-right: 10px;
    }
    i { // stylelint-disable-line
      color: $toolbar-icon;
      font-size: 14px;
      margin-right: 4px;
    }

    .bth-toolbar-group {
      display: flex;
      margin-right: 4px;
      padding-right: 5px;
      position: relative;

      &:before {
        border-right: 1px solid $gray-light-10;
        content: '';
        height: calc(100% - 10px);
        position: absolute;
        right: 0;
        top: 5px;
      }

      .btn-group ul ul {
        list-style: none;
        padding-left: 0;
        > li {
          .ui-list-checkbox-container {
            position: relative;
            &:before {
              border-left: 2px dotted lighten($gray, 10%);
              border-right: 2px dotted lighten($gray, 10%);
              content: '';
              font-size: 12px;
              height: 14px;
              left: 7px;
              opacity: 0;
              position: absolute;
              top: 6px;
              width: 6.5px;
            }
            &:hover {
              &:before { // stylelint-disable-line
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .column {
      padding: 4px 0;
    }

    .btn:not(.btn-success),
    .btn-group-sm > .btn:not(.btn-success) {
      align-items: center;
      background-color: transparent;
      border-color: transparent;
      border-radius: $border-radius-small;
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
      padding: 2px 6px;

      &:hover {
        border-color: darken($gray-light-10, 4%);

        i {
          color: $gray-light-20;
        }
      }
    }

    .bth-list-paginate {
      align-items: center;
      display: flex;
      white-space: nowrap;

      button.btn {
        display: flex;
        margin-left: 5px;

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}

.popover-hidden-toolbar {
  border: none;
  border-radius: $border-radius-small;
  box-shadow: 0 3px 6px 0 mix($black, transparent, 16%), 0 0 0 1px mix($black, transparent, 8%);
  cursor: auto;
  max-width: 100%;
  width: auto;
  .content {
    .hidden-columns-row {
      align-content: center;
      align-items: center;
      display: flex;
      padding: 4px 10px;
      &:nth-child(even) {
        background-color: lighten(palette('blGray', 'light-40'), 3%);
      }
      &:last-child {
        margin-bottom: 5px;
      }
      .title {
        color: $gray;
        flex: 1 0 30%;
        font-size: 13px;
        text-transform: uppercase;
      }
      .value {
        display: flex;
        flex: 1 0 70%;
        flex-direction: column;
      }
    }
  }
  > .arrow {
    border-bottom-color: $white;
    display: none;
  }
  &.bottom {
    margin-top: 4px;
  }
  .popover-content {
    font-family: $base-font;
    padding: 0;
  }
}
