// Variáveis

// As variáveis devem seguir o seguinte padrão `$componente-estado-propriedade-tamanho`.
// Ex.: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$progress: $gray-light-10;
$progress-info: $aqua;
$progress-danger: $red;
$progress-primary: $blue;
$progress-warning: $yellow;
$progress-success: $green;
$progress-default: $progress-primary;