// Global
@import '../../variables';

// Local
@import 'variables';

$base-fa-icon: 'FontAwesome';

/* ajuste novo padrão breadcrumb */

.page-header {
  .breadcrumb {
    float: right !important;
  }
}

.breadcrumb {
  background: 0 0;
  margin: 0;
  padding: 0;

  >li {
    color: $gray-dark-10;
    font-size: 12px;
    line-height: 12px;

    &.active {
      color: $gray-dark-30;
    }

    +li:before {
      color: $gray-dark-10;
      content: '\f105';
      font-family: $base-fa-icon;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

.bth-breadcrumb {
  color: $breadcrumb-text;
  flex: 1;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;

  li {
    display: inline-block;

    +li:before {
      content: '\f105';
      font-family: $base-fa-icon;
      font-size: 14px;
      padding: 0 8px;
    }

    &:last-child {
      color: $gray-dark-30;
      font-size: 18px;
    }

    a {
      color: $blue;
      font-size: 14px;

      &.active {
        color: $breadcrumb-text;
        cursor: default;
        text-decoration: none;
      }
    }
  }
}