@import '../../config';


.bth-filter {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 295px;
  &__header {
    padding: 0 12px 6px;
    display: flex;
    &__title{
      margin-top: 0;
      font-size: 18px;
      flex: 1;
    }
    &__attach {
      button {
        &:after {
          content: "Desafixar";
        }
        &:hover>i {
          transform: rotate(36deg);
        }
      }
    } 
  }
  &__body {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    .bth-card--collapse {
      border-radius: 0;
      padding: 6px 0;
      >.bth-card__header {
        padding-bottom: 0 !important;
      }
    }
    .bth-card.bth-card--collapse {
      position: relative;
      &:before {
        border-top: 1px solid $gray-light-10;
        content: '';
        height: 0;
        margin-left: 12px;
        position: absolute;
        top: 0;
        width: calc(100% - 24px);
      }
      .bth-card__header {
        .badge {
          background-color: $gray-light-10;
          color: $gray-dark-30;
        }
      }
    }
    .bth-filter__more {
      padding: 3.5px 0 3.5px 7px;
    }
  }
  &__footer {
    padding: 12px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    >li {
      display: flex;
      justify-content: space-between;
      padding: 3.5px 0 3.5px 7px;
      >.btn,
      >.btn-group {
        visibility: hidden;
      }
      &:hover {
        background-color: $gray-light-30;
        border-radius: $border-radius-small;
        >.btn,
        >.btn-group {
          visibility: visible;
        }
      }
    }
    &--checkbox > li > .bth-checkbox,
    &--switch > li > .bth-switch,
    &--radio > li > .bth-radio {
      flex-grow: 1;
      label {
        width: 100%;
      }
    }
    &--switch > li {
      padding-left: 0;
      padding-right: 7px;
    }
  }
  &__dropdown--available-options{
    width: auto;
    max-width: 300px;;
    li{
      a{
        white-space: normal;
      }
    }
  }
  &--floating {
    background-color: $white;
    height: 100%;
    padding-top: 12px;
    position: fixed;
    right: 0;
    top:0;
    z-index: 1070;
    .bth-filter__header__attach > button{
      &:after {
        content: "Fixar";
      }
      &:hover>i {
        transform: rotate(0turn);
      }
    }
  }
}

.bth-filter-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  padding-bottom: 0 !important;
  position: relative;
  &__result {
    position: relative;
    width: 100%;
  }
  &__sidebar {
    border-left: 1px solid $gray-light-10;
    margin-left: 8px;
  }
}

.bth-filter-backdrop {
  background-color: mix($white, transparent, 50%);
  height: 100vh;
  left:0;
  opacity: 1;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 99;
  &--inverse {
    background-color: mix($black, transparent, 50%);
    z-index: 1069;
  }
  .alert {
    animation: showAlert .2s ease-in-out;
    animation-fill-mode: forwards;
    &.ng-hide {
      animation: hideAlert .2s ease-in-out;
    }
  }
}

@keyframes showAlert {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideAlert {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-15px);
  }
}

@media (max-width: 767px) {
  .bth-filter--floating {
    top: 0;
    width: 100%;
    position: fixed;
  }
  .bth-filter--sidebar {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bth-filter--floating {
    width: 50%;
  }
}