// Global
@import '../../config';

// Local
@import 'variables';

.bth-kanban-list {
  flex-grow: 1;
  font-family: $base-font;

  .bth-kanban-list-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    //height: 100%;
  }

  .kanban-flow {
    display: flex;
    flex: 0 0 auto;
    //flex-flow: row nowrap;
    justify-content: space-around;
    list-style: none;
    //overflow: hidden;
    margin: 0;
    padding: 0;

    &.sticky {
      top: 0;
      z-index: 900;
    }

    > li {
      background-color: $gray-light-30;
      //margin-right: 1px;
      border-top-left-radius: $border-radius-small;
      border-top-right-radius: $border-radius-small;
      color: $gray-light-20;
      flex-basis: 0;

      flex-grow: 1;
      font-size: 13px;

      line-height: 1.1;

      margin: 0 2px;

      min-width: 270px;
      padding: 10px 16px;
      position: relative;
      text-transform: uppercase;

      &:before {
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 10px;
        margin-right: 8px;
        width: 10px;
      }

      &.ativo {
        //border-color: $green;
        //background-color: $green;
        &:before {
          background-color: $green;
          //border-left-color: $green;
        }
      }
      &.pausa {
        //border-color: palette('orange');
        &:before {
          background-color: palette('orange');
        }
      }
      &.cancelado {
        &:before {
          background-color: dark(palette('blGray'), 5%);
        }
      }
      &.emitido {
        //border-color: $blue;
        &:before {
          background-color: $blue;
        }
      }
      &.liquidado {
        //border-color: palette('purple', 'dark-20');
        &:before {
          background-color: palette('purple', 'dark-20');
        }
      }

      .btn-group {
        position: absolute;
        right: 7px;
        top: 6px;

        a {
          color: $gray-dark-20;
          vertical-align: middle;
        }

        i {
          font-size: 22px;

          &:hover {
            color: $gray-dark-10;
          }
        }
      }
    }
  }

  .items-container {
    height: 800px;
    position: absolute;
    width: 1324px;
  }

  .kanban-container {
    align-self: stretch;
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    justify-content: space-around;

    .kanban-list {
      background-color: $gray-light-30;
      border-bottom-left-radius: $border-radius-small;
      border-bottom-right-radius: $border-radius-small;
      border-left: 5px solid $gray-light-30;
      border-right: 5px solid $gray-light-30;
      display: flex;
      flex-basis: 0;
      flex-direction: column;
      flex-grow: 1;
      justify-content: flex-start;
      list-style: none;
      margin: 0 2px;

      min-width: 270px;
      overflow: hidden;
      padding: 0;

      li {
        cursor: move;
        font-size: 13px;
        margin: 3px 5px;
        position: relative;
        user-select: none;

        &.is-empty {
          margin: 0;
        }

        .kanban-item-content {
          align-items: center;
          background-color: $white;
          border: 1px solid darken($gray-light-30, 5%);
          border-radius: $border-radius-small;
          display: flex;
          flex-shrink: 0;
          opacity: 1;
          padding: 10px;
          position: relative;
          transition: opacity 1s ease-in-out;

          &.default {
            left: auto !important; // stylelint-disable-line
            position: relative !important; // stylelint-disable-line
            top: auto !important; // stylelint-disable-line
            width: auto !important; // stylelint-disable-line
            //margin: 2px 4px !important;
          }

          .counter {
            align-items: center;
            background-color: $red;
            border: 1px solid darken($red, 5%);
            border-radius: 50%;
            box-shadow: 0 1px 3px mix($black, transparent, 12%), 0 1px 2px mix($black, transparent, 24%);
            color: $white;
            display: flex;
            font-size: 12px;
            font-weight: 600;
            height: 24px;
            justify-content: center;
            position: absolute;
            right: 4px;
            text-align: center;
            top: -10px;
            visibility: hidden;
            width: 24px;
            z-index: 9999;

          }

          .img-wrapper {
            border-radius: 50%;
            display: inline-block;
            height: 30px;
            margin-right: 6px;
            overflow: hidden;
            position: relative;
            width: 30px;

            img {
              display: inline-block;
              height: auto;
              left: 0;
              max-width: 100%;
              position: absolute;
            }
          }
        }

        &.ui-selected, &.xselectable-selected {
          .kanban-item-content {
            background-color: darken($gray-light-30, 7%);
            border: 1px solid darken($gray-light-30, 14%);
          }
        }

        &.ui-selecting, &.xselectable-selecting {
          .kanban-item-content {
            background-color: darken($gray-light-30, 3%);
            border: 1px solid darken($gray-light-30, 8%);
          }
        }

        .btn-group {
          opacity: 0;
          position: absolute;
          right: 2px;
          top: 9px;
          transition: opacity .1s ease-in-out;

          i {
            border-radius: $border-radius-small;
            font-size: 22px;

            &:hover {
              color: $gray-dark-10;
            }
          }

          a {
            color: $gray;
            vertical-align: middle;
          }
        }

        &:hover {
          //background-color: $baseColor;

          //border-color: darken\($baseColor, 8%);

          .btn-group{
            opacity: 1;
          }
        }

        &.kanban-placeholder {
          background-color: darken($gray-light-30, 3%);
          border: 1px solid darken($gray-light-30, 8%);
          flex-shrink: 0;
          margin: 2px 4px;
        }

      }
    }

  }

}