// ------------------------------------------------------
// Cores antigas. Mantida pois há sistemas com ocorrências delas
// ------------------------------------------------------

// Relaciona com a cor principal da definição de cor
$G4-red    : $red                                       ;
$G4-orange : $orange                                    ;
$G4-yellow : $yellow                                    ;
$G4-greenA : $green                                     ;
$G4-greenB : adjust-hue($green, -50deg)                 ;
$G4-blueA  : $blue                                      ;
$G4-blueB  : adjust-hue($blue, -15deg)                  ;
$G4-blueC  : adjust-hue($blue, -20deg)                  ;
$G4-purpleA: $purple                                    ;
$G4-purpleB: adjust-hue(saturate($purple, 30%), -20deg) ;
$G4-violetA: $pink                                      ;
$G4-crimson: adjust-hue($red, -15deg)                   ;

$G4-gray1  : light($gray, 22%);
$G4-gray2  : light($gray, 18%);
$G4-gray3  : light($gray, 14%);
$G4-gray4  : light($gray, 8%);
$G4-gray5  : light($gray, 2%);
$G4-gray6  : dark($gray, 5%);
$G4-gray7  : dark($gray, 14%);
$G4-gray8  : dark($gray, 22%);
$G4-gray9  : dark($gray, 30%);
$G4-gray10 : dark($gray, 40%);
$G4-gray11 : dark($gray, 52%);
$G4-gray12 : dark($gray, 56%);

.gray1       { background: $G4-gray1  !important; }
.text-gray1  { color     : $G4-gray1  !important; }
.gray2       { background: $G4-gray2  !important; }
.text-gray2  { color     : $G4-gray2  !important; }
.gray3       { background: $G4-gray3  !important; }
.text-gray3  { color     : $G4-gray3  !important; }
.gray4       { background: $G4-gray4  !important; }
.text-gray4  { color     : $G4-gray4  !important; }
.gray5       { background: $G4-gray5  !important; }
.text-gray5  { color     : $G4-gray5  !important; }
.gray6       { background: $G4-gray6  !important; }
.text-gray6  { color     : $G4-gray6  !important; }
.gray7       { background: $G4-gray7  !important; }
.text-gray7  { color     : $G4-gray7  !important; }
.gray8       { background: $G4-gray8  !important; }
.text-gray8  { color     : $G4-gray8  !important; }
.gray9       { background: $G4-gray9  !important; }
.text-gray9  { color     : $G4-gray9  !important; }
.gray10      { background: $G4-gray10 !important; }
.text-gray10 { color     : $G4-gray10 !important; }
.gray11      { background: $G4-gray11 !important; }
.text-gray11 { color     : $G4-gray11 !important; }
.gray12      { background: $G4-gray12 !important; }
.text-gray12 { color     : $G4-gray12 !important; }

// Cria todas as variações das cores
$coresG4: (
  'red'     : $G4-red    ,
  'orange'  : $G4-orange ,
  'yellow'  : $G4-yellow ,
  'greenA'  : $G4-greenA ,
  'greenB'  : $G4-greenB ,
  'blueA'   : $G4-blueA  ,
  'blueB'   : $G4-blueB  ,
  'blueC'   : $G4-blueC  ,
  'purpleA' : $G4-purpleA,
  'purpleB' : $G4-purpleB,
  'violetA' : $G4-violetA,
  'crimson' : $G4-crimson,
);

@mixin criarCoresG4($nome, $cor) {
         .#{$nome}1  { background: light($cor, 42%) !important }
         .#{$nome}2  { background: light($cor, 35%) !important }
         .#{$nome}3  { background: light($cor, 29%) !important }
         .#{$nome}4  { background: light($cor, 22%) !important }
         .#{$nome}5  { background: light($cor, 17%) !important }
         .#{$nome}6  { background: light($cor, 10%) !important }
         .#{$nome}7  { background: light($cor, 5% ) !important }
         .#{$nome}8  { background:  dark($cor, 8% ) !important }
         .#{$nome}9  { background:  dark($cor, 18%) !important }
         .#{$nome}10 { background:  dark($cor, 27%) !important }

    .text-#{$nome}1  {      color: light($cor, 42%) !important }
    .text-#{$nome}2  {      color: light($cor, 35%) !important }
    .text-#{$nome}3  {      color: light($cor, 29%) !important }
    .text-#{$nome}4  {      color: light($cor, 22%) !important }
    .text-#{$nome}5  {      color: light($cor, 17%) !important }
    .text-#{$nome}6  {      color: light($cor, 10%) !important }
    .text-#{$nome}7  {      color: light($cor, 5% ) !important }
    .text-#{$nome}8  {      color:  dark($cor, 8% ) !important }
    .text-#{$nome}9  {      color:  dark($cor, 18%) !important }
    .text-#{$nome}10 {      color:  dark($cor, 27%) !important }
}

@each $nome, $cor in $coresG4 {
    @include criarCoresG4($nome, $cor);
}

// ------------------------------------------------------
// Cores sistemas
// ------------------------------------------------------

$corBTH: map-get($brand-colors, 'blue');
/* Cor padrão */

$corMun: map-get($brand-colors, 'brown');
/* Gestão Municipal */

$corPla: map-get($brand-colors, 'lilac');
/* Planejamento e Contabilidade */

$corArr: map-get($brand-colors, 'lime');
/* Arrecadação e Fiscalização */

$corAte: map-get($brand-colors, 'gray');
/* Atendimento */

$corCom: map-get($brand-colors, 'red');
/* Gestão de Compras e Contratos */

$corPes: map-get($brand-colors, 'cian');
/* Pessoal e Recursos Humanos */

$corSau: map-get($brand-colors, 'green');
/* Saúde e Assistência Social */

$corEdu: map-get($brand-colors, 'yellow');
/* Educação e Gestão Escolar */

$corLei: map-get($brand-colors, 'orange');
/* Gestão de Leis Municipais */

$corGen: map-get($brand-colors, 'blueLight');
/* Componentes Genéricos e Performance Corporativa */

$corSup: map-get($additional-colors, 'petrol');