/**
* Phone
* --------------------------------------------------------------------------------------------------
*/

@media (max-width: 767px)  {
  input[type='text'] { width: 100% !important; }
  body { padding: 0; }

  /**
	* Header
	* --------------------------------------------------------------------------------------------------
	*/
  .main-navbar { 
    margin-left: 0;
    margin-right: 0;

    .navbar-inner {
      height: auto;
      min-height: auto;

      .btn-navbar { 
        float: left;
        margin: 7px 0 0;
      }

      // No lugar do nome do sistema é exibido o nome da entidade e caso este ultrapasse o tamanho máximo da tela é adicionado (...)
      .nav.pull-right + .nav.selecao { display: none; }

      .container ul.nav:last-of-type {
        display: block !important;
        float: none;

        li { 
          float: none;

          a.dropdown-toggle {
            overflow: hidden; 
            padding-top: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      // Necessário para que o dropdown não fique por cima do btn-navbar
      .btn-navbar ~ .nav.selecao { margin-left: 40px; }

      // Estes elementos recebem z-index para ficar por cima do nome da entidade
      .nav.pull-right,
      .btn-navbar { z-index: 1; }
    }
  }

  // Adapta o tamanho para celular
  .notifications.dropdown { 
    margin-top: 2px;

    .btn-danger { padding: 3px 0; }
  }

  .photoUser.dropdown-toggle {
    height: 32px;
    margin: 5px 0 5px 5px;
    width: 32px;
  }

  .dropdown-box { width: 265px; }

  /**
	* Sidebar (Menu principal)
	* --------------------------------------------------------------------------------------------------
	*/
  .main-sidebar.span3 {
    height: 0;
    min-height: 0;
    width: 100%;

    &:before,
    .main-tabs { display: none; } 
  }

  /**
		* Sidebar Externa (Menu principal)
		* --------------------------------------------------------------------------------------------------
		*/
  .external .main-sidebar.span3 {
    height: 0;
    position: static;

    .menu { padding: 0; }

    ul.nav-pills li {
      text-align: left;
      width: 100%;

      a {
        span {
          display: inline-block; 
          margin-top: 0;
        }
        i.icon-chevron-right,
        i.icon-chevron-down { display: inline-block; }
      }
    }

    .submenu ul {
      background: light(palette('blGray', 'light-30'), 5%);
      border: none; 
      position: static;
      @include box-shadow(1px 1px 2px mix($black, transparent, 20%) inset);
      @include border-radius(0);
    }
  }

  /**
	* Botão "Mais" (Exibe ações secundárias da interface)
	* --------------------------------------------------------------------------------------------------
	*/
  .main-toolbar .dropdown-btn > .btn,
  .main-toolbar > .btn {
    font-size: 13px;
    padding: 6px 6px 2px;

    i { display: block; }
  }

  .dropdown-content { display: none; }

  .dropdown-btn { position: relative; }

  .dropdown-open.active + .dropdown-content { 
    @include dropdown-menu;
    display: block;
    left: auto;
    padding: 0 4px 4px;
    right: 0;
    top: 27px;

    .btn { 
      margin: 4px 0 0;
      width: 100%;
    }
  }

  /**
	* Tabs principais
	* --------------------------------------------------------------------------------------------------
	*/
  .container-fluid.section-content,
  .external > .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  /**
	* Login
	* ----------------------------------------------------------------------------------------------
	*/
  .login {
    padding: 0 20px;

    .cover { 
      margin: -20px -20px 20px -20px;
      padding: 20px;

      > .container { padding: 0; }

      .media .pull-right { float: right; }

      .well { margin-bottom: 10px; }
    }
  }

  /**
	* Sidebar Summary
	* ----------------------------------------------------------------------------------------------
	*/
  .summary ul.affix  {
    position: static;
    width: 100%;
  }
}

/**
* Phone and Table
* --------------------------------------------------------------------------------------------------
*/
@media (max-width: 979px) {
  // Utiliza o próprio select do mobile
  .select { 
    select {
      display: block !important; 
      width: 100%;
    }

    input,
    button { display: none; }	
  }

  .section-navbar {
    &.affix {
      position: static;
      + * { margin-top : 0; }
    }
  }

  .login {
    .nav.pull-right { margin-right: 8px; }
  }
}

/**
* Tablet Portait
* --------------------------------------------------------------------------------------------------
*/
@media (min-width: 768px) and (max-width: 978px) and (orientation:portrait) {
  .mainBody .main-navbar .btn-navbar { 
    float: left;
    margin-top: 20px;
  }

  .external .main-navbar .btn-navbar { display: none; }

  /**
	* Sidebar (Menu principal)
	* --------------------------------------------------------------------------------------------------
	*/
  .mainBody .main-sidebar.span3 {
    width: 0;

    &:before { width: 0; }
		
    &.in,
    &.in:before { width: 250px; }

    .main-tabs li { 
      float: left;

      a {
        @include border-radius(4px 4px 0 0);
        margin-bottom: 0;
        padding: 8px 12px; 
      }
    }
  }
}

/**
* Tablet
* --------------------------------------------------------------------------------------------------
*/
@media (min-width: 768px) and (max-width: 979px) {
  .summary ul.affix { width: 167px; }

  .external .main-sidebar.span3 {	overflow: visible; }
}

/**
* Desktop
* --------------------------------------------------------------------------------------------------
*/
@media (min-width: 979px) and (max-width: 1200px) {
  .summary ul.affix { width: 220px; }
}