// Global
@import '../../config';

$font-md: 18px;
$font-regular: 500;

.megamenu {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  .megamenu-placeholder {
    background: transparent !important;
    border: 1px dashed $gray;
    height: 100px;
    width: 100px;
  }
  .icone-modulo {
    background-image: url(../../assets/images/icon-betha.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 74%;
    border-radius: $border-radius-base;
    display: inline-block;
    height: 26px;
    margin-top: -2px;
    vertical-align: middle;
    width: 26px;
  }
  .b-icon-modulo {
    display: block !important;
    width: 26px !important;
    height: 26px !important;
    margin: 8px 0 !important;
    font-family: 'bth-icons' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-align: center;
    text-transform: none;
    border: 1px solid $white;
    border-radius: $border-radius-base;
    &:before {
      content: '\e901';
      font-size: 16px;
      line-height: 24px;
    }
  }
  .tiles-container {
    width: 452px;
  }
  .menu-right .tiles-container {
    left: auto;
  }
  li {
    &.mm-delay {
      transition: all 0s linear .5s;
      >a,
      .megamenu-dropdown {
        transition: all 0s linear .5s;
      }
    }
    transition: none;
    a {
      transition: none;
    }
    &:hover {
      transition: none;
      >a,
      .megamenu-dropdown {
        transition: none;
      }
    }
    &.disabled {
      cursor: default;
      >a {
        cursor: default;
      }
      &:hover {
        background: transparent;
        box-shadow: none;
        .megamenu-dropdown {
          display: none;
        }
      }
    }
  }
  >li {
    background-color: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: $gray-dark-20;
    cursor: pointer;
    float: left;
    line-height: 28px;
    padding: 7px 12px 8px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    &:hover,
    &.mm-delay:hover,
    &.megamenu-active {
      background-color: rgba($color: $white, $alpha: .2);
    }
    &.direct {
      &:hover {
        border-radius: 0;
        box-shadow: 0;
      }
    }
  }
  .menu-right {
    float: right;
    margin-right: 0;
  }
  >li {
    >a {
      color: $white;
      display: block;
      font-size: 14px;
      outline: 0;
      text-decoration: none;
    }
    &:hover>a,
    &.mm-delay:hover>a,
    &.megamenu-active>a {
      color: $white;
      height: 100%;
    }
  }
  li {
    .megamenu-dropdown {
      background: $white;
      border-bottom-left-radius: $border-radius-small;
      border-bottom-right-radius: $border-radius-small;
      border-radius: $border-radius-small;
      border-top: none;
      box-shadow: 0 -1px 5px 1px mix($black, transparent, 26%);
      left: -1px;
      margin: 0;
      padding: 16px;
      position: absolute;
      right: -1px;
      text-align: left;
      top: -999em;
      z-index: -1;
      &:not(.solucoes) .row:last-child {
        margin-bottom: 0;
      }
      &.solucoes {
        .mega-fluxos li {
          margin-left: 1px;
          margin-right: 5px;
        }
        .nano {
          height: auto;
          margin: 0;
        }
        .nano-content {
          max-height: 261px;
          position: relative;
        }
      }
      ul:not(.dropdown-menu) {
        list-style: none;
        padding: 0;
      }
    }
    .col-1 {
      width: 200px;
    }
    .col-2 {
      width: 400px;
    }
    .col-3 {
      width: 600px;
    }
    &:hover .megamenu-dropdown {
      cursor: default;
      top: 40px;
    }
    .megamenu-dropdown {
      &.hidden {
        top: -999em;
        transition-delay: 0s;
      }
      &.solucoes {
        width: 456px;
      }
      a {
        cursor: pointer;
        display: block;
        margin: 0;
        opacity: 1;
        text-decoration: none;
        white-space: normal;
      }
      h1 {
        color: $gray-dark-10;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 10px;
        padding: 8px 0;
        &:first-child {
          margin-top: 0;
        }
        a {
          color: $gray-dark-10;
          &:hover {
            color: $blue;
          }
        }
      }
      ul {
        &:not(.dropdown-menu) li {
          line-height: 20px;
        }
        >li {
          position: relative;
        }
        li.novidade:after {
          background: palette('blue', 'light-10');
          border-radius: $border-radius-small;
          color: $white;
          content: 'Novo!';
          font-size: 75%;
          padding: 0 4px;
          position: absolute;
          right: 9px;
          top: 4px;
        }
        &:not(.mega-fluxos):not(.dropdown-menu) li {
          a {
            color: $gray-dark-20;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            padding: 4px 6px;
          }
          &.disabled {
            color: $gray-light-10;
            cursor: default;
            a {
              color: $gray-light-10;
              cursor: default;
              &:hover {
                background: transparent;
              }
            }
          }
          >a:before {
            content: '\f105';
            font-family: FontAwesome;
            font-size: 12px;
            padding-right: 10px;
          }
        }
        li>a:hover {
          background-color: $gray-light-30;
        }
      }
      .disabled {
        color: $gray-light-10;
        cursor: default;
        a {
          color: $gray-light-10;
          cursor: default;
          &:hover {
            background: transparent;
          }
        }
      }
      .mega-fluxos {
        display: flex;
        flex-wrap: wrap;
        margin: 4px -6px 0 0;
        li {
          border-radius: $border-radius-base;
          background-color: $gray-light-20 !important;
          cursor: pointer;
          display: inline-block;
          font-size: 13px;
          height: 100px;
          margin-bottom: 6px;
          margin-right: 6px;
          overflow: hidden;
          padding: 8px 12px;
          width: 31%;
          &:hover {
            outline: 1px solid $blue;
            background-color: $gray-light-20 !important;
          }
          &:active {
            box-shadow: none;
          }
          a {
            &[disabled],
            &.disabled,
            &.permission-disabled {
              color: $white;
              opacity: .4;
            }
            &:hover {
              background-color: transparent;
            }

            span {
              display: inline-block;
              width: 100%;
              font-size: 13px;
              line-height: 16px;
              vertical-align: top;
              text-align: left;
              color: $gray-dark-30;
            }
          }
          &.menu-atendimento--abrir-chamado .fa-times {
            width: 20px !important;
          }
        }
        >li>a>i {
          display: inline-block;
          width: 100%;
          margin: 12px 0;
          font-size: 20px;
        }
        >li>a>svg{
          width: 20px;
          height: 20px !important;
          margin: 12px 0 !important;

          path{
            fill: $link-color;
          }
        }
      }
    }
  }
  >li {
    &.megamenu-active .megamenu-dropdown,
    .select2-input:focus {
      cursor: default;
      top: 40px;
    }
  }

  .connection-status:hover>a>i {
    filter: invert(1);
  }
  
  .blip-connection-status,
  .blip-chat-status{
    top: 9px;
  }
}

.mega-fluxos--ellipsis {
  display: -webkit-box !important;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.megamenu-container {
  background-color: $header-color;
  border-bottom: none !important;
  left: 0;
  margin: 0 auto;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1069;
  .container {
    padding: 0 4px;
    width: 100%;
  }
  .bth-checkbox {
    padding: 5px 0;
  }
  .megamenu {
    .btn-fixar {
      color: $gray;
      font-family: FontAwesome;
      font-size: 14px;
      line-height: 1em;
      margin-top: 0 !important;
      transform: rotate(40deg);
      vertical-align: bottom;
      &:before {
        content: '\f08d';
      }
    }
    hr {
      margin-bottom: 10px;
    }
    .megamenu-title {
      position: relative;
      top: 1px;
      display: inline-block;
      margin-left: 25px;
      padding: 5px 14px;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      color: $petrol;
      text-transform: capitalize;
      border-radius: $border-radius-base;
      
      span{
        text-transform: lowercase;
      }

    }
    >li {
      &.has-button {
        text-align: right;
        >.btn-link {
          color: $white;
        }
        >.btn-help {
          overflow: hidden;
          transition: width .5s ease;
          width: 100%;
          &.btn-hide-label {
            padding-right: 0;
            width: 0;
            &:hover {
              color: $gray-dark-30;
            }
          }
        }
      }
      .megamenu-dropdown {
        .form-control {
          margin-bottom: 16px;
        }
        .megamenu-dropdown-btn a {
          background: $gray-light-30;
          border-bottom-left-radius: $border-radius-small;
          border-bottom-right-radius: $border-radius-small;
          color: $gray-dark-10;
          font-size: 14px;
          margin-top: 4px;
          padding: 0;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .btn-help {
      padding-left: 23px;
      position: relative;
      &:before {
        content: 'help';
        direction: ltr;
        font-family: Material Icons;
        font-feature-settings: 'liga';
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        font-weight: 400;
        left: 4px;
        letter-spacing: normal;
        line-height: 1;
        position: absolute;
        text-rendering: optimizeLegibility;
        text-transform: none;
        top: 2px;
        white-space: nowrap;
        word-wrap: normal;
      }
    }
  }
}

.bf-main .megamenu-container {
  position: relative;
}

.menu-contexto-padding {
  padding-top: 80px;
}

.header-megamenu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1069;
}

.menu-contexto {
  background-color: $gray-light-30;
  padding: 5px 15px;
  position: fixed;
  top: 48px;
  width: 100%;
  z-index: 99;
  &.ng-hide {
    top: 0;
  }
  &.ng-hide-add,
  &.ng-hide-remove {
    transition: top ease-in-out .3s;
  }
  .menu-container {
    align-items: center;
    display: flex;
    .menu-desafixar {
      color: $gray-dark-10;
      margin-right: 5px;
    }
    ol.menu-breadcrumb {
      align-items: center;
      display: flex;
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      >li {
        font-size: 80%;
        line-height: 20px;
        +li {
          padding-left: 15px;
        }
        .dropdown {
          display: inline-block;
          a {
            color: $gray-dark-30;
            cursor: pointer;
            text-transform: uppercase;
          }
          .dropdown-menu {
            height: auto;
            max-height: 350px;
            overflow-x: hidden;
            overflow-y: auto;
          }
        }
      }
    }
  }
}

li.menu-right,
li.mm-delay {
  &.has-button {
    &:hover {
      background-color: transparent;
      border-bottom-color: transparent;
      border-top-left-radius: $border-radius-small;
      border-top-right-radius: $border-radius-small;
      box-shadow: none;
      cursor: pointer;
    }
  }
  &.menu-static {
    cursor: default;
    &:hover {
      >a {
        color: $white;
        cursor: default;
      }
      background-color: transparent;
      border-bottom-color: transparent;
      border-top-left-radius: $border-radius-small;
      border-top-right-radius: $border-radius-small;
      box-shadow: none;
      cursor: default;
    }
  }
}

/* Barra de contextos */

.menucontext {
  height: 20px;
  position: relative;
  width: 100%;
  &:after {
    background: $gray-light-30;
    content: '';
    height: 33px;
    left: 0;
    position: fixed;
    top: 48px;
    width: 100%;
    z-index: 1067;
  }
}

.menucontext .container {
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  right: 0;
  top: 53px;
  z-index: 1068;
}

.menucontext .container i {
  line-height: 0;
  margin-top: 15px;
}

.menucontext .breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0 0 0 5px;
}

.menucontext .breadcrumb>li {
  font-size: 80%;
}

.menucontext .breadcrumb>li+li:before {
  margin-right: -10px;
}

.menucontext a.desafixar {
  color: $gray-dark-10;
}

.menucontext .breadcrumb .select2-choice {
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: 2px 8px;
}

.menucontext .select2-choice>.select2-chosen {
  margin-right: 10px;
}

.menucontext .breadcrumb .select2-choice .select2-arrow {
  width: 10px;
}

.menucontext .breadcrumb .select2-container {
  width: auto;
}

.menucontext .breadcrumb .dropdown {
  display: inline-block;
}

.menucontext .breadcrumb .dropdown>a {
  color: $gray-dark-30;
  cursor: pointer;
  text-transform: uppercase;
}

.menucontext .breadcrumb a:hover,
.menucontext .breadcrumb a:focus,
.menucontext .breadcrumb a:visited {
  text-decoration: none;
}

.menucontext a.desafixar:hover,
.menucontext .breadcrumb a:hover {
  color: $blue;
}

//scroll dropdown context
.megamenu-context .dropdown-menu,
.menucontext .dropdown-menu {
  //min-width: 205px;
  height: auto;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}

//ellipsis dropdown context
.megamenu-context .btn-group>.dropdown-toggle>span.pull-left {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  width: 95%;
}

/* Perfil do usuário */

.megamenu li .usuario-dropdown {
  left: auto;
  min-width: 360px;
  padding: 10px;
}

.megamenu li .usuario-dropdown .perfil-usuario {
  line-height: 1em;
  padding: 10px 0 20px;
}

.megamenu li .usuario-dropdown .perfil-usuario .nome-completo {
  color: $gray-dark-20;
  font-size: 18px;
  margin: 10px 0 0;
}

.megamenu li .usuario-dropdown .perfil-usuario .nome-usuario {
  color: $gray;
}

.megamenu li .usuario-dropdown .perfil-usuario h1,
.megamenu li .usuario-dropdown .perfil-usuario span {
  display: block;
  text-align: center;
}

.megamenu li .usuario-dropdown .perfil-usuario .barra-produtos {
  height: 6px;
  margin: 30px 0 20px;
  padding: 0;
  width: 100%;
}

.megamenu li .usuario-dropdown .barra-acoes a {
  display: block;
  padding: 8px;
  font-size: 14px;
  color: $gray-dark-10;
  border-top: 1px solid $gray-light-10;
}

.notificacoes ul li a {
  color: $gray-dark-10;
  display: inline;
  font-size: 13px;
  padding: 0 6px;
}

.megamenu li .usuario-dropdown .barra-acoes a:hover,
.notificacoes ul li a:hover,
.megamenu .btn-fixar:hover {
  color: $blue;
  text-decoration: none;
}

.megamenu li .usuario-dropdown .perfil-usuario .foto {
  background-image: url(../../assets/images/avatar2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: $blue;
  box-sizing: content-box;
  display: block;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  width: 100px;
}

.megamenu li .usuario-dropdown .perfil-usuario .foto img {
  height: auto;
  width: 100%;
}

/* Notificações */

.bolha-notificacao {
  background: $red;
  border: none;
  border-radius: $border-radius-base;
  color: $white;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.3;
  padding: 1px 5px;
  position: absolute;
  right: 3px;
  top: 5px;
}

.megamenu li .notificacoes-dropdown {
  left: auto;
  padding: 0;
  width: 384px;
}

.megamenu li .notificacoes-dropdown .row {
  margin: 10px 0 20px;
}

.megamenu li .notificacoes-dropdown a {
  display: block;
  font-size: 12px;
  line-height: 34px;
}

.notificacoes-dropdown .title {
  margin: 6px 15px 0;
}

.notificacoes-dropdown .title h1 {
  display: inline-block;
}

.notificacoes-dropdown .notificacao-footer {
  display: block;
  padding-left: 50px;
  width: 100%;
}

.notificacoes-dropdown .notificacao-footer a {
  color: palette('blue', 'light-10') !important;
  display: inline-block;
  float: left;
  font-size: 12px !important;
  padding: 3px 0 !important;
}

.notificacoes-dropdown .notificacao-footer .tempo {
  color: $gray;
  display: inline-block;
  float: right;
  font-size: 12px;
  margin-right: -20px;
  padding: 3px 0;
  transition: all .2s ease-in-out;
}

.notificacoes-dropdown .notificacao-footer .tempo .btn-archive {
  cursor: pointer;
  margin: 0 6px;
  opacity: 0;
  transition: all .6s ease;
}

.notificacoes ul li:hover .tempo {
  margin-right: 0;
}

.notificacoes ul li:hover .tempo .btn-archive {
  opacity: 1;
}

.notificacoes {
  line-height: 18px;
  margin: 0;
}

.notificacoes .progress {
  border-radius: 0;
  height: 4px;
  margin: 6px 0 0;
}

.notificacoes ul {
  margin-right: 0;
}

.notificacoes ul li {
  border-bottom: 1px solid $gray-light-30;
  color: $gray-dark-10;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 14px 0 10px;
  width: 100%;
}

.notificacoes ul li.unread {
  background-color: $gray-light-30;
}

.notificacoes ul li.has-action {
  cursor: pointer;
}

.notificacoes ul li.has-action:hover {
  background-color: $gray-light-30;
}

.notificacoes ul li button.close {
  display: inline;
  margin-top: -16px;
}

.notificacoes ul li:last-child {
  border: 0;
}

.notificacoes ul li small {
  color: $gray;
  display: inline-block;
  float: right;
  font-size: 90%;
  text-align: left;
}

.notificacoes ul li i {
  border-radius: 0;
  color: inherit;
  cursor: default;
  display: inline-block;
  float: inherit;
  font-size: inherit;
  height: auto;
  line-height: inherit;
  margin-right: 0;
  min-width: auto;
  text-align: inherit;
  width: auto;
}

.user-icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.round-thumb {
  background: $gray-light-20;
  border-radius: 50%;
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  overflow: hidden;
  width: 40px;
}

.round-thumb img {
  display: block;
  max-width: 100%;
}

.notificacoes ul li .round-thumb i {
  border-radius: 50%;
  color: $white;
  cursor: default;
  display: inline-block;
  float: left;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  min-width: 40px;
  text-align: center;
  width: 40px;
}

/** MegaMenu Search **/

.busca-dropdown {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 !important;
}

.busca-sistema {
  background-color: $gray-light-40;
  border-radius: $border-radius-small 0 0;
  margin-bottom: 10px;
}

.busca-sistema .busca {
  padding: 15px 15px 0;
}

.tabs-busca {
  background: $gray-light-20;
  display: flex;
  font-size: 12px;
  height: 40px;
  -webkit-padding-start: 0;
}

.tabs-busca li {
  color: $gray-dark-30;
  cursor: pointer;
  flex-grow: 1;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 113px;
}

.indicador-ativo {
  height: 3px;
  margin-top: 37px;
  position: absolute;
  transition: margin .5s ease;
  width: 113px;
}

.efeito-onda {
  background: black;
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.anima-onda {
  animation: touch 1.2s ease-out;
  opacity: .2;
}

@keyframes touch {
  100% {
    border-radius: 600px;
    height: 600px;
    margin: -300px;
    opacity: 0;
    width: 600px;
  }
}

.resultados-encontrados {
  color: $gray;
  font-size: 9px;
  position: absolute;
  right: 15px;
  top: 5px;
}

.tabs-busca-resultados {
  margin-bottom: 10px;
}

.lista-resultados {
  font-size: 13px;
}

.lista-resultados li {
  padding: 10px 15px;
}

.lista-resultados li:hover {
  background-color: $gray-light-30;
}

.lista-resultados li i {
  font-size: 16px;
}

.lista-resultados li:nth-child(even) {
  background-color: $gray-light-20;
}

.lista-resultados__item {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.lista-resultados_item span {
  min-width: 1px;
  width: 100%;
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.limpar-busca:before {
  content: '\00d7';
}

.limpar-busca:hover,
.limpar-busca {
  background: 0;
  color: $gray;
  cursor: pointer;
  font-family: serif, arial;
  font-size: 16px;
  font-weight: bold;
  height: 12px;
  line-height: 17px;
  position: absolute;
  right: 25px;
  text-align: center;
  text-decoration: none;
  top: 24px;
  width: 12px;
}

.tabs-busca-resultados--empty {
  margin-top: 193px
}

/** Cadastros auxiliares **/

.cadastros-auxiliares {
  .panel-group .panel-default {
    &:first-child {
      border-bottom: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    &:last-child {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }
  .list-group {
    .header-search {
      background-color: $gray-light-30;
      height: 43px;
      padding: 0;
      position: relative;
      z-index: 999;
      input {
        background-color: $gray-light-30;
        border: none;
        height: 43px;
        padding: 0 15px;
        position: absolute;
        width: 85%;
        &:focus {
          border: 1px solid $aqua;
          box-shadow: inset 0 1px 1px mix($black, transparent, 7.5%), 0 0 8px mix(palette('blue', 'light-20'), transparent, 60%);
          outline: 0;
        }
      }
      &:after {
        content: '\f002';
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        right: 15px;
        top: 13px;
      }
    }
    .list-group-item.no-active {
      &:hover {
        background-color: $gray-light-30;
        cursor: pointer;
      }
    } //tamanho do campo da busca
    .form-inline .input-group>.form-control.search-field {
      width: 260px;
    }
    .dropdown-menu.dropdown-pesquisas-rapidas {
      width: 337px;
    }
  } //scroll
  .scrollContent {
    position: relative;
  }
  .scrollBar {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .scrollBar::-webkit-scrollbar {
    width: 6px;
  }
  .scrollBar.thin {
    transition: all .5s;
  }
  .scrollBar.thin::-webkit-scrollbar-thumb {
    background: mix($black, transparent, 10%);
  }
  ::-webkit-scrollbar-track {
    background: mix($gray-dark-10, transparent, 10%);
    border-radius: $border-radius-large;
  }
  ::-webkit-scrollbar-thumb {
    background: mix($black, transparent, 10%);
    border-radius: $border-radius-large;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: mix($black, transparent, 10%);
  }
  .no-margin-left-row .row {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .modal-body {
    .filtrar-por {
      margin: 0;
    }
  }
}

/** Nanoscroller **/

.nano {
  height: 400px;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.nano>.nano-content {
  bottom: 0;
  left: 0;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.nano>.nano-content:focus {
  outline: thin dotted;
}

.nano>.nano-content::-webkit-scrollbar {
  display: none;
}

.has-scrollbar>.nano-content::-webkit-scrollbar {
  display: block;
}

.nano>.nano-pane {
  background: mix($black, transparent, 8%);
  -moz-border-radius: $border-radius-base;
  -webkit-border-radius: $border-radius-base;
  border-radius: $border-radius-base;
  bottom: 0;
  opacity: .01;
  position: absolute;
  right: 2px;
  top: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  width: 8px;
}

.nano>.nano-pane>.nano-slider {
  background: $gray-dark-20;
  background: mix($black, transparent, 25%);
  -moz-border-radius: $border-radius-small;
  -webkit-border-radius: $border-radius-small;
  border-radius: $border-radius-small;
  margin: 0 1px;
  position: relative;
}

.nano:hover>.nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  opacity: .99;
}