// Global
@import '../../config';
// Local
@import 'variables';
$root: '.alert';
$rootIcon: '.alert-icon';
$rootDismissible: '.alert-dismissible';

#{$root} {
  border-radius: $border-radius-small;
  padding: 12px;
  position: relative;
  @each $name, $value in $alert-states {
    &-#{$name} {
      background-color: map-get($value, 'background');
      border: 1px solid map-get($value, 'border-color');
      color: map-get($value, 'color');
      .alert-link {
        color: map-get($value, 'link-color');
      }
    }
  }
  .alert-link {
    font-weight: 500;
    text-decoration: underline;
  }
}

#{$rootIcon} {
  padding: 12px 12px 12px 40px;
  &#{$root} {
    @each $name, $value in $alert-states {
      &-#{$name} {
        &:before {
          content: map-get($value, 'icon-name');
          display: inline-block;
          font-family: $base-icon;
          font-feature-settings: 'liga'1;
          font-size: 20px;
          font-style: normal;
          height: 20px;
          left: 12px;
          line-height: 1;
          margin-right: 5px;
          overflow: hidden;
          position: absolute;
          text-rendering: optimizeLegibility;
          text-transform: none;
          top: 12px;
          white-space: nowrap;
          width: 20px;
        }
      }
    }
  }
}

#{$rootDismissible} {
  padding-right: 40px;

  .close {
    font-size: 30px;
    font-weight: 500;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    right: 12px;
    text-shadow: none;
    top: 6px;
  }

  @each $name,
  $value in $alert-states {
    &#{$root}-#{$name} {
      .close {
        color: map-get($value, 'link-color');
      }
    }
  }
}