// Global
@import '../../config';

// Local
@import 'variables';

.popover-totalizador {
  border: none;
  border-radius: $border-radius-small;
  box-shadow: 0 3px 6px 0 mix($black, transparent, 16%), 0 0 0 1px mix($black, transparent, 8%);
  cursor: auto;
  margin-top: -10px !important;
  max-height: 400px;
  max-width: 1000px;
  overflow: auto;
  width: 1000px;

  .arrow {
    display: none;
  }

  h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
  }
}

.bth-container-tot {
  flex-direction: column;
  overflow: hidden;
}

.list-tot {
  align-items: center;
  color: $gray-dark-20;
  display: flex;
  min-height: 32px;
  padding-right: 25px;
  padding-top: 10px;

  .list-tot-text {
    flex-grow: 1;
    text-align: right;
  }

  .dropdown-tot {
    background-color: $aqua;
    border-radius: $border-radius-small;
    color: $white;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;

    &:hover {
      background-color: palette('aqua', 'dark-10');
    }
  }
}