// Variáveis

// As variáveis devem seguir o seguinte padrão `$componente-estado-propriedade-tamanho`.
// Ex.: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$timeline-dashed-line-color: $gray-light-10;
$timeline-dot-and-icons-color: $gray-dark-20;
$timeline-dot-active-color: $aqua;
$timeline-dot-disabled-color: $gray-dark-10;
$timeline-text-color: $gray;
$timeline-icon-danger: $red;
$timeline-icon-warning: $yellow;