// Variáveis

// As variáveis devem seguir o seguinte padrão `$componente-estado-propriedade-tamanho`.
// Ex.: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$font-name: 'Open Sans' !default;
$font-style: normal !default;
$font-path: '../../assets/fonts/' !default;
$font-weights: (
  'regular': 400,
  'semi-bold': 600,
  'bold': 700,
  'extra-bold': 800
) !default;