// Variáveis

// As variáveis devem seguir o seguinte padrão `$componente-estado-propriedade-tamanho`.
// Ex.: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$checkbox-default: $gray;
$checkbox-success: $green;
$checkbox-primary: $blue;
$checkbox-danger:  $red;
$checkbox-warning: $yellow;
