@import '../../config';

// [OLD]

/* pesquisa */

.form-inline .input-group >
.form-control.search-field {
  width: 342px;
}

// [NEW]

.bth-search{
  display: flex;
  justify-content: space-between;

  .input-group-search ~ .btn-sm{
      margin-left:5px;
  }
}

.input-group-search {
  display: inline-flex !important;
  position: relative;
  width: 100%;
  > input.form-control {
    padding-left: 5px;
    padding-right: 36px;
  }      
  >.dropdown-menu{
    width: inherit;
  }
  &--btn-refine{
    position: absolute; 
    right: 35px; 
    z-index: 100; 
    margin-top: 1px; 
    margin-bottom: 1px;
  }
}

.bth-filter--sidebar .input-group-search,
.dropdown-menu .input-group-search {
  display: table !important;
  width: 100%;
}

.dropdown-menu .input-group-search input.form-control {
  border-radius: $border-radius-small;
}

@media (max-width: 767px) {

  .bth-search{
    display: unset;  
    .input-group-search ~ .btn-sm{
        margin-top:5px;
    }
  }
}