// Global
@import '../../config';

$pathImages: '../../assets/images/logo/';

.bf-menu--horizontal {
  background-color: $header-color;
  color: $white;
  height: 40px;   
  grid-area: menu-horizontal;
  width: 100%;  

  .bf-menu--horizontal__body { 
    width: 100%;
    height: 100%;
    .bf-menu--horizontal__list{
      display: flex;  
      list-style: none;
      width: 100%;
      height: 100%;     
      padding: 0px; 
      .bf-menu--horizontal__item{    
        .bf-menu--vertical__toggle{
          padding: 13px 18px;
          &:before{
            content: '\f0c9';
            font-size: 16px;
            color: $white; 
            font-family:'FontAwesome'; 
            line-height: 40px;
          }  

          &:hover, &:focus {
            background-color: mix($white, transparent, 15%);
            text-decoration: none;
          }
        }

        &:first-child{
          >.bth-brand-name{
            padding: 0px 16px;
          }          
        }

        .bth-brand-name {
          align-items: center;
          border: 0;
          color: $white;
          display: flex;
          height: 100%;
          justify-content: start;
          position: relative;
          font-size: 16px;
          font-family: $base-font;
          padding: 0 2px;
          cursor: pointer;

          &.bth-brand-blue{
            > span, 
            &:before{
              color: $white;
              font-weight: 500;
            }
          }

          &:before {
            height: 26px;
            width: 26px;
            padding: 6px;
            content: '\e901';
            font-size: 14px;
            font-family: 'bth-icons' !important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            speak: none;
            text-transform: none;
            border-radius: 6px;
            background-color: $main-brand-color;
          }

          .bth-brand-name span {
            padding-top: 1px;
          }
          
          > span {
            display: inline-block;
            padding: 2px 14px;
            border-radius: 6px;
            background-color: $main-brand-color;
          }
            
          &:hover, &:focus {
            background-color: mix($white, transparent, 15%);
            text-decoration: none;
          }
          
        }

        &--has-list {  
          flex: 1;   
          >.bf-menu--horizontal__list{
            list-style: none;
            display: flex; 
            justify-content: left;
            width: 100%;
            padding: 0 18px;
            >.bf-menu--horizontal__item {   
              height: 40px;
              > a {
                align-items: center;      
                color: $white;
                display: flex;     
                padding: 10px 14px 10px 14px;
                width: 100%;
                font-weight: 400;      
                text-decoration: none;
                > i {
                  &:first-child,
                  &:last-child {
                    display: block;
                    margin: 12px 16px;
                    width: 14px;
                  }
                }
                > span {
                  flex: 1;
                  opacity: 1;
                  white-space: nowrap;
                }
              }
              &--active {
                background-color: mix($white, transparent, 20%);  
                >a{
                  color:$white;
                  font-weight: 400;       
                }     
                
              }
              &:hover, &:focus {
                background-color: mix($white, transparent, 15%);
                text-decoration: none;
              }

              &--disabled {
                cursor: pointer;
                opacity: .6;
                pointer-events: none;
              }              
            }
          }            
        }

        &:not(.bf-menu--horizontal__item--has-list)~.bf-menu--horizontal__item:last-child{
          flex: 1;  
        }
        .bth-menu__tools{
          list-style: none;
          display: flex; 
          justify-content: flex-end;
          width: 100%;
          height: 100%;
          padding: 0;

          >li{
            position: relative;
            padding: 0px 6px;
            >a{
              text-decoration: none;
              >i{
                color: $white;  
                font-size: 16px;            
                margin: 11px 6px;                 
              }

              .badge-danger--notificacao{
                font-size: 11px;
                font-weight: 600;
                padding: 2px 5px;
                position: absolute;
                right: 5px;
                top: 5px;
              }

              >.bf-avatar{
                margin:7px 8px 7px 8px; 
                display: unset;
                border: 2px solid $gray-light-20;
                width: 24px;
                height: 24px;
              }
            }
            &:hover, &:focus{
              background-color: mix($white, transparent, 15%);
              text-decoration: none;
            }
          }

        }
      }      
    }
  }
}

.bth-brand{
  @each $name,
  $value in $brand-colors {
     &-#{$name} {
        > span, 
        &:before{
          color: $petrol;
          font-weight: 600;
          background-color: $value !important;
        }
     }
  }
}

@media (max-width: 991px){
  .bf-menu--horizontal {
    height: 50px;  
  
    .bf-menu--horizontal__body { 
      .bf-menu--horizontal__item{ 
        .bf-menu--vertical__toggle{
          padding: 16px !important;
          &:before{
            font-size: 18px !important;
            line-height: 50px !important;
          } 

          &:after{
            content: '\f00d';
            font-size: 18px;
            color: $white; 
            font-family:'FontAwesome'; 
            line-height: 50px;
            display: none;
          } 

          &--opened{
            &:before{
              display: none;
            } 
            &:after{
              display: unset;
            } 
          }
        }

        .bth-brand-name {
          font-size: 22px;  
          &:before {
            height: 25px;
            width: 28px;
          }
          &:after{
            top: 16px;
          }
          span{
            padding-top: 1px;
          }

          &:hover, &:focus {
            background-color: mix($white, transparent, 15%);
            text-decoration: none;
          }            
        }  
        &--has-list {  
          display: none;
        }
        .bth-menu__tools{  
          >li{
            >a{
              >i{
                color: $white;  
                font-size: 18px;            
                margin: 6px 8px;                 
              }
            }

            &:last-child{
              .bf-sidepanel__account__toogle{
                padding: 16px;
                &:before{
                  content: '\f142';
                  font-size: 18px;
                  color: $white; 
                  font-family:'FontAwesome'; 
                  line-height: 50px;
                  display: unset;
                } 
    
                &:after{
                  content: '\f00d';
                  font-size: 18px;
                  color: $white; 
                  font-family:'FontAwesome'; 
                  line-height: 50px;
                  display: none;
                } 

                .badge-danger--notificacao{
                  &-small{
                    padding: 0px 2px;
                    right: 14px;
                    top: 10px;
                    position: absolute;
                    height: 11px;
                    width: 11px;
  
                    &:empty{
                      display: inherit;
                    }
                  }
                }
    
                &--opened{
                  &:before{
                    display: none;
                  } 
                  &:after{
                    display: unset;
                  } 
                  .badge-danger--notificacao{
                    &-small{
                      &:empty{
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }  
        &:last-child{
          flex:1;
        }  
      }      
    }  
  }   
}
