// @pamela.castorina
// Apenas variáveis que serão expostas para o JavaScript das aplicações
@import 'mixins';
@import 'variables';

:export {
    // Base colors
    white: $white;
    black: $black;

    //  Brand colors
    mainBrandColor: $main-brand-color;
    @include generate-color-variables('brand', $brand-colors);

    // Colors >> Gray 
    @include generate-color-variables('gray', $colors-gray);
    
    // Colors >> Red
    @include generate-color-variables('red', $colors-red);
    
    // Colors >> Pink
    @include generate-color-variables('pink', $colors-pink);
    
    // Colors >> Blue
    @include generate-color-variables('blue', $colors-blue);
    
    // Colors >> Aqua
    @include generate-color-variables('aqua', $colors-aqua);
    
    // Colors >> Green
    @include generate-color-variables('green', $colors-green);
    
    // Colors >> Yellow
    @include generate-color-variables('yellow', $colors-yellow);
    
    // Colors >> Orange
    @include generate-color-variables('orange', $colors-orange);
    
    // Colors >> Purple
    @include generate-color-variables('purple', $colors-purple);
    
    // Colors >> Bluish gray
    @include generate-color-variables('blGray', $colors-blGray);
}