// Global
@import '../../config';
// Local
@import 'variables';
$root: '.nav-tabs';
$rootStacked: '.nav-stacked';
$rootCollapsed: '.nav-collapsed';
$rootSubtab: '.nav-subtabs';
#{$root} {
  margin-bottom: 15px;
  &#{$rootStacked} {
    border-bottom: 0;
    >li {
      >a {
        border: 1px solid $gray-light-20;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        outline: none;
        &:hover,
        &:focus {
          border-color: $gray-light-20;
          z-index: 2;
        }
        >i:first-child {
          width: 20px;
        }
      }
    }
  }
}

// Nested tab-stacked
#{$root + $rootStacked}>li>#{$root + $rootStacked} {
  margin: 0 0 0 -2px;
  >li {
    >a {
      text-transform: initial;
      padding-left: 50px;
    }
  }
}

.nav-tabs.nav-stacked>.nav-tabs.nav-stacked>.nav-tabs.nav-stacked>li>a:hover,
.nav-tabs.nav-stacked>li>a:focus {
  border-color: $gray-light-20;
  z-index: 2;
}

.nav-stacked>li+li {
  margin-top: 0;
}

.nav-pills>li>a {
  line-height: 20px;
  padding: 8px 12px;
}

#{$rootSubtab} {
  >li>a {}
}

.tab-indicator-container {
  display: inline-flex;
  position: relative;
  vertical-align: super;
  margin: -5px 0 0 0;
  padding-left: 0;
  list-style: none;
  .tab-indicator {
    font-size: 13px;
    &-warning {
      color: $yellow;
    }
    &-danger {
      color: $red;
    }
    .badge {
      font-size: 10px;
    }
  }
}

/**
* super-tabs - Super Abas
* --------------------------------------------------------------------------------------------------
*/

.super-tabs-group.container-page {
  margin-top: 50px;
}

.super-tabs {
  //margin: -50px -60px 0 -15px;
  margin: -50px -25px 0 -25px;
  ul {
    background: none;
    border: 0; //margin: 0px 30px 12px -30px;
    //margin: 0px 30px 12px -15px;
    margin: 0 0 12px;
    padding: 0;
  }
  li {
    padding-left: 15px !important;
    padding-right: 15px !important;
    h3 {
      margin-top: 2px;
      position: relative;
      i {
        font-size: .72em;
        margin-left: 13px;
        position: absolute;
        top: 5px;
      }
    }
    &.disabled a {
      background: lighten(palette('blGray', 'light-30'), 4%) !important;
      color: lighten($gray, 7%) !important;
      cursor: not-allowed !important;
    }
    a {
      background: lighten(palette('blGray', 'light-30'), 4%);
      color: $gray-dark-10;
      height: 46px;
      &:focus {
        background: lighten(palette('blGray', 'light-30'), 4%);
      }
      &:hover {
        background: lighten(palette('blGray', 'light-20'), 7%);
      }
    }
    a,
    &.active a,
    &.active a:focus,
    &.active a:hover {
      border: 0;
    }
    &.active a,
    &.active a:focus,
    &.active a:hover {
      background: lighten(palette('blGray', 'light-40'), 4%);
    }
  }
}

.super-tabs-header {
  background-color: lighten(palette('blGray', 'light-40'), 4%);
  background-image: -moz-linear-gradient(top, lighten(palette('blGray', 'light-40'), 4%), lighten(palette('blGray', 'light-40'), 3%));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(lighten(palette('blGray', 'light-40'), 4%)), to(lighten(palette('blGray', 'light-40'), 3%)));
  background-image: -webkit-linear-gradient(top, lighten(palette('blGray', 'light-40'), 4%), lighten(palette('blGray', 'light-40'), 3%));
  background-image: -o-linear-gradient(top, lighten(palette('blGray', 'light-40'), 4%), lighten(palette('blGray', 'light-40'), 3%));
  background-image: linear-gradient(to bottom, lighten(palette('blGray', 'light-40'), 4%), lighten(palette('blGray', 'light-40'), 3%));
  background-repeat: repeat-x;
  border-bottom: 1px solid lighten(palette('blGray', 'light-30'), 4%); //border-radius: 10px 10px 0 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafbfb', endColorstr='#ffecf0f1', GradientType=0);
  line-height: 38px;
  margin: -11px -18px 1px -18px; //ajuste listagens
  min-height: 50px; //margin: -11px -24px 1px -24px;
  padding: 7px 24px 3px;
  >small {
    margin-left: 10px;
    padding-right: 10px;
  }
  >.row,
  .section-navbar {
    border: none;
    margin-bottom: 0 !important;
  }
  .popover {
    line-height: 20px;
  }
}

*:not(.super-tabs) {
  >.nav-subtabs,
  >.nav-tabs {
    >li {
      >a {
        color: $gray-dark-10;
        font-weight: font('primary', 'weight');
        &:hover {
          color: $blue;
          cursor: pointer;
        }
        .badge {
          display: inline-block;
          padding: 2px 6px;
          vertical-align: initial;
        }
      }
      &.link-disabled {
        opacity: 1;
      }
      &.disabled {
        >a {
          color: $gray;
          &:hover {
            color: $gray;
          }
        }
      }
    }
  }
  >.nav-tabs:not(.nav-stacked) {
    border-bottom: 2px solid $gray-light-10;
    .select-active {
      border-bottom: 2px solid $blue;
      bottom: -2px;
      height: 2px;
      position: absolute;
    }
    >li {
      margin-bottom: -2px;
      >a {
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
        &:hover {
          border-bottom: 2px solid $gray-light-10;
        }
      }
      &.active {
        >a {
          font-weight: font('primary', 'weight', 'semi-bold');
          border-bottom: 2px solid $blue;
          color: $blue;
        }
      }
    }
  }
  >.nav-subtabs:not(.nav-stacked) {
    border-bottom: 1px solid $gray-light-10;
    .select-active {
      border-left: 1px solid $gray-light-10;
      border-right: 1px solid $gray-light-10;
      border-top: 1px solid $gray-light-10;
      bottom: -2px;
      height: 2px;
      position: absolute;
    }
    >li {
      background-color: $white;
      margin-bottom: -1px;
      >a {
        border-bottom: 1px solid $gray-light-10;
        border-radius: $border-radius-small $border-radius-small 0 0;
      }
      &.active {
        >a {
          border-bottom: 0;
          border-left: 1px solid $gray-light-10;
          border-right: 1px solid $gray-light-10;
          border-top: 1px solid $gray-light-10;
          color: $blue;
          font-weight: font('primary', 'weight', 'semi-bold');
          margin-bottom: 0;
        }
      }
    }
  }
  >.nav-tabs:not(.nav-stacked),
  >.nav-subtabs:not(.nav-stacked) {
    color: $gray-dark-10;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    position: relative;
    >li {
      >a {
        background: none;
        font-size: 14px;
        margin-right: 0;
        padding: 8px 14px;
        text-transform: uppercase;
      }
      .required-icon {
        top: -1px;
      }
    }
  }
  >.nav-stacked.nav-tabs {
    border-left: 2px solid $gray-light-30 !important;
    >li>a {
      border: 0 !important;
      border-left-color: transparent !important;
      border-left-style: solid !important;
      border-left-width: 2px !important;
      color: $gray-dark-10;
      border-radius: 0 !important;
      text-transform: uppercase;
      font-weight: font('primary', 'weight', 'regular');
      padding: 12px;
      margin-left: -2px;
      &:hover,
      &:focus {
        color: $blue !important;
        background-color: transparent;
        border-bottom: 0;
      }
    }
    >li.active>a,
    >li.open>a {
      background-color: transparent;
      color: $blue !important;
      font-weight: font('primary', 'weight', 'semi-bold');
    }
    >li.active>a {
      border-left-color: $blue !important;
    }
    >li.child-active {
      >a {
        border-left-color: $gray-light-10 !important;
        font-weight: font('primary', 'weight', 'semi-bold');
        color: $gray-dark-10 !important;
        >i {
          color: $blue;
        }
      }
    }
  }
}

#{$rootStacked} {
  &:not(#{$rootCollapsed}) {
    .required-icon {
      position: relative;
    }
  }
  &#{$rootCollapsed} {
    .required-icon {
      right: 10px;
      top: 0;
    }
  }
}

#{$rootCollapsed} {
  width: 50px;
  >li>a {
    >span:not(.required-icon),
    >abbr,
    >ul,
    >button {
      display: none;
    }
  }
}

.nav-media {
  transition: add .2s;
  li {
    img,
    h3 {
      display: inline-block;
      float: none;
    }
    h3 {
      font-weight: 600;
      margin: 11px 0 10px 10px;
      vertical-align: middle;
    }
    i {
      margin-top: 11px;
    }
    &:hover i {
      opacity: 1;
    }
    .active {
      background-color: $gray-light-30;
      i {
        opacity: 1;
      }
    }
  }
  &.disabled {
    opacity: 0;
  }
}

.nav-justified {
  &:not(.nav-stacked) {
    display: flex;
    flex-direction: row;
    >li {
      display: inline-flex;
      flex: 1 1 auto;
      flex-wrap: nowrap;
      >a {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  *:not(.super-tabs) {
    >.nav-tabs {
      &.nav-tabs--has-icon{
        >li {
          text-align: center;

          >a {
            white-space: nowrap;
            width: 30px;
            overflow: hidden;
            display: block;
          }

          &.active {
            >a {
                width: auto;
            }
          } 
        }
      }
    }
  }
}