// Global
@import '../../variables';

// Local
@import 'variables';

.bth-tree.groups-panel {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;

  .bth-hierarchy {

    font-family: $base-font;
    font-size: 13px;

    .bth-hierarchy-busca{
      margin-bottom: 10px;

      &:before{
        color: $gray;
        content: '\f002';
        font: normal normal normal 14px/1 $base-icon;
        font-family: $base-font;
        font-size: 13px;
        left: 12px;
        position: absolute;
        top: 28px;
      }

      input{
        color: $gray;
        padding-left: 33px;
      }
    }

    .bth-list-body{
      margin-top: 0;
      position: relative;

      &.panel{
        background-color: transparent;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-bottom: 0;
        margin-top: 10px;
      }

      .bth-list-row{
        border-bottom: none;
        color: $tree-font-color;

        margin-bottom: 0;
        position: relative;

        i{
          color: $tree-font-color;
          font-size: 13px;
          margin-left: 0;
          margin-right: 5px;
          vertical-align: middle;
        }

        &.bth-list-row-click{
          border-radius: $border-radius-small;
          cursor: pointer;
          margin-bottom: 0;
          position: relative;

          &:hover{
            background-color: $gray-light-30;
            color: $tree-font-color-hover;
            i{
              color: $tree-font-color-hover;
            }
          }
        }

        &.collapsed i.fa:before {
          content: '\f114';
        }

        .column{
          display: inline-block;
          padding: 4px 6px;
        }

      }

      .bth-list-row-line{
        @for $i from 1 to 10 {
          &.bth-line-h#{$i} {
            border-left: 1px solid $tree-line-color;
            margin-left: $tree-padding + 'px';
            padding-left: $tree-padding + 'px';
            position: relative;

            &:last-child{
              border-left: none;

              &:after{
                border-left: 1px solid $tree-line-color;
                content: '';
                height: 15px;
                left: 0;
                position: absolute;
                top: 0;
                width: 1px;
              }
            }
          }
        }

        .bth-list-row{

          margin-bottom: 0;
          position: relative;

          &:before{
            border-bottom: 1px solid $tree-line-color;
            content: '';
            left: $tree-padding * -1px;
            position: absolute;
            top: 15px;
            width: $tree-padding + 'px';
          }

          &:hover{
            background-color: transparent;
          }
        }

      }

      .bth-nobreak{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    }
  }

  .bth-hierarchy-head {
    align-items: center;
    color: $gray;
    display: flex;
    font-family: $base-font;
    justify-content: space-between;
    padding: 4px 0;

    .side-filters-config {
      height: 24px;

      a {
        border: 1px solid transparent;
        border-radius: $border-radius-small;
        display: inline-flex;
        text-decoration: none;

        &:hover {
          border: 1px solid darken($gray-light-10, 4%);
        }
      }

      i {
        color: $gray-dark-10;
      }
    }

    .hierarchy-search {
      border-radius: $border-radius-small;
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      margin: 0;
      position: relative;

      i {
        font-size: 18px;
        line-height: 20px;
        margin-right: 4px;
      }

      input {

        border: none;
        flex-grow: 1;
        font-size: 13px;
        line-height: 15px;
        outline: none;
      }
    }

    span {
      color: $tree-font-color;
      margin-left: 6px;

      &:hover {
        color: darken($tree-font-color, 10%);
        cursor: pointer;
      }
    }
  }
}

.popover-hierarchy-legenda {
  border: none;
  border-radius: $border-radius-small;
  box-shadow: 0 3px 6px 0 mix($black, transparent, 16%), 0 0 0 1px mix($black, transparent, 8%);
  cursor: auto;
  overflow: hidden;

  &.popover {
    &.bottom {
      margin-top: 0;
    }
  }

  &.bottom,
  &.top {
    > .arrow {
      border-bottom-color: $gray-light-20;
      display: none;
    }
  }

  .popover-content {

    .bth-legenda-info {
      font-size: 13px;

      .legenda-info-title {
        border-bottom: 1px solid $gray-light-20;
        font-weight: 600;
        margin-bottom: 4px;
        padding-bottom: 4px;
      }

      ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;

        li {

          &.ui-state-highlight {
            background-color: palette('blGray', 'light-40');
            border: 1px dashed darken(palette('blGray', 'light-40'), 3%);
            flex-shrink: 0;
            margin: 2px 4px;
          }

          div {
            border-radius: $border-radius-small;
            padding: 4px;
            padding-left: 19px;
            position: relative;
            white-space: nowrap;

            i.handle {
              cursor: move;
              font-size: 13px;
              left: 3px;
              position: absolute;
              top: 6px;
            }

            &.eye-close {
              color: $tree-font-color;
              text-decoration: line-through;

              a {
                color: $tree-font-color;
              }
            }

            a {
              color: $gray-light-20;
              margin-right: 5px;

              i {
                &.eye-open {
                  &:before {
                    content: '\f06e';
                  }
                }

                &.eye-close {
                  &:before {
                    content: '\f070';
                  }
                }
              }
            }

            &:hover {
              background-color: $gray-light-30;
            }
          }
        }
      }
    }

  }

}